<template>
  <q-page class="q-pa-md page-auth">
    <h2 class="text-h2">Вход</h2>
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="formData.email"
        label="Введите email"
        hint="Name and surname"
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <q-input
        filled
        type="password"
        v-model="formData.password"
        label="Введите пароль"
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <div>
        <q-btn label="Войти" type="submit" color="primary" :loading="loading"/>
        <q-btn label="Регистрация" color="primary" flat class="q-ml-sm" to="/register" />
      </div>
    </q-form>

  </q-page>
</template>

<script setup>
import { ref } from 'vue'
import { useQuasar } from 'quasar'
import { authApi } from 'src/api/auth'

const $q = useQuasar()
const loading = ref(false)

const formData = ref({
  email: 'yurecblinovgelarm@gmail.com',
  password: 'Rootgel2000',
})

async function onSubmit() {
  loading.value = true
  try {
    await authApi.doLogin(formData.value)
    $q.notify({
      color: 'positive',
      textColor: 'white',
      message: 'Вы успешно вошли'
    })
    setTimeout(() => {
      window.location.href = '/home'
    }, 500)
  } catch (err) {
    console.log(err)
    $q.notify({
      color: 'negative',
      textColor: 'white',
      message: 'email или пароль неправильные'
    })
  }
  loading.value = false
}

</script>
