<template>
  <q-page class="q-pa-md page-auth">
    <h2 class="text-h2">Регистрация</h2>
    <q-form
      @submit="onSubmit"
    >
      <q-input
        filled
        v-model="formData.name"
        label="Введите ФИО"
        hint=""
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <q-input
        filled
        v-model="formData.username"
        label="Введите логин"
        hint=""
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <q-input
        filled
        v-model="formData.email"
        label="Введите email"
        hint=""
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <q-input
        filled
        v-model="formData.phone"
        label="Введите номер телефона"
        type="number"
        hint=""
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <q-input
        filled
        type="password"
        v-model="formData.password"
        label="Введите пароль"
        lazy-rules
        :rules="[ val => val && val.length > 0 || '']"
      />

      <div>
        <q-btn label="Зарегистрироваться" type="submit" color="primary" :loading="loading"/>
        <q-btn label="Страница входа" color="primary" flat class="q-ml-sm" to="/login" />
      </div>
    </q-form>

  </q-page>
</template>

<script setup>
import { ref } from 'vue'
import { useQuasar } from 'quasar'
import { authApi } from 'src/api/auth'

const $q = useQuasar()
const loading = ref(false)

const formData = ref({
  name: '',
  username: '',
  email: '',
  phone: '',
  password: '',
})

async function onSubmit() {
  loading.value = true
  try {
    await authApi.doRegister(formData.value)

    $q.notify({
      color: 'positive',
      textColor: 'white',
      message: 'Вы успешно Зарегистрировались'
    })
    setTimeout(() => {
      window.location.href = '/home'
    }, 500)

  } catch (err) {
    console.log(err)
    $q.notify({
      color: 'negative',
      textColor: 'white',
      message: 'Пользователь с такими данным уже зарегистрирован'
    })
  }
  loading.value = false
}

</script>
