<template>
  <LoaderDate
    v-show="loading"
  />

  <q-dialog v-model="modal">
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменить завод</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form
          @submit="update"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="text"
            v-model="categoryUp.name"
            label="Название категории"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />

          <div>
            <q-btn label="Сохранить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4 q-mr-auto" style="font-weight: 600">Заводы</div>
      <q-btn label="назад" type="submit" color="primary" icon="replay" padding="6px 20px" to="/stamps"/>
    </div>

    <div class="row full-width q-mt-xl q-pb-lg">
      <div class="col-12 col-md-3 bg-blue-grey-1 q-pa-md">
        <q-form
          @submit="create"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="text"
            v-model="name"
            label="Название завода"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />

          <div>
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
            <q-btn label="Очистить" color="primary" flat class="q-ml-sm" padding="6px 20px" @click="name = null" />
          </div>
        </q-form>
      </div>
    </div>

    <q-table
      :rows="rows"
      :columns="columns"
      hide-pagination
      row-key="id"
      v-model:pagination="pagination"
      class="my-table q-mt-lg"
    >
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div class="row" v-if="user?.isRole === 'ADMIN'">
            <q-btn
              color="negative"
              icon="delete"
              class="q-mr-md"
              @click="del(props.row.id)"
            />
            <q-btn
              color="positive"
              icon="edit"
              class="q-mr-md"
              @click="updateCategory(props.row)"
            />
          </div>
        </q-td>
      </template>
    </q-table>

  </q-page>
</template>

<script setup>
import { ref, reactive, onMounted } from "vue"
import { useQuasar } from 'quasar'
import LoaderDate from 'src/components/LoaderDate.vue'
import { factoryApi } from 'src/api/factory'
import { useUserStore } from 'src/store/user'

const userStore = useUserStore()
const user = userStore.user
const $q = useQuasar()

const rows = ref([])
const columns = ref([
  {
    name: "id",
    field: "id",
    format: (val) => `${val}`,
    sortable: true,
    label: "id",
    align: "left",
  },
  {
    name: "name",
    label: "Название",
    align: "left",
    field: "name",
    sortable: true,
  },
  {
    name: "action",
    label: "Действия",
    align: "left",
    field: "action",
    sortable: true,
  },
])
const name = ref(null)
const loading = ref(false)
const modal = ref(false)
const categoryUp = reactive({
  id: null,
  name: null
})

const getAll = async () => {
  loading.value = true
  try {
    const resp = await factoryApi.getAll()
    rows.value = resp
  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

const create = async () => {
  try {
    await factoryApi.create(name.value)
    getAll()
    $q.notify({ color: 'positive', message: 'Завод добавлен' })
  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const update = async () => {
  try {
    await factoryApi.update(categoryUp)
    getAll()
    $q.notify({ color: 'positive', message: 'Завод обновлен' })
    modal.value = false

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const del = async (id) => {
  try {
    await factoryApi.del(id)
    getAll()
    $q.notify({ color: 'positive', message: 'Завод удален' })

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const updateCategory = async (val) => {
  Object.assign(categoryUp, val)
  modal.value = true
}

const pagination = ref({
  rowsPerPage: -1
})
onMounted(() => {
  getAll()
})

</script>
