<template>

  <q-dialog v-model="modalFactory">
    <q-card style="min-width: 320px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Добавление завода</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="row items-center q-pa-md">
        <q-form
          @submit="createFactory"
          class="my-form full-width"
        >
          <q-input
            filled
            type="text"
            v-model="factoryName"
            label="Название завода"
            lazy-rules
            class="q-pb-sm full-width"
          />

          <div class="q-mt-md">
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalCategory">
    <q-card style="min-width: 320px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Добавление категории</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="row items-center q-pa-md">
        <q-form
          @submit="createCategory"
          class="my-form full-width"
        >
          <q-input
            filled
            type="text"
            v-model="categoryName"
            label="Название категории"
            lazy-rules
            class="q-pb-sm full-width"
          />

          <div class="q-mt-md">
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalSubcategory">
    <q-card style="min-width: 320px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Добавление подкатегории</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="row items-center q-pa-md">
        <q-form
          @submit="createSubcategory"
          class="my-form full-width"
        >
          <q-input
            filled
            type="text"
            v-model="subcategoryName"
            label="Название подкатегории"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />

          <div class="q-mt-md">
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalProduct">
    <q-card style="min-width: 320px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Добавление товара</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="row items-center q-pa-md">
        <q-form
          @submit="createProduct"
          class="my-form full-width"
        >
          <q-input
            filled
            type="text"
            v-model="productName"
            label="Название товара"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />

          <div class="q-mt-md">
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modal">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Добавление цены</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form
          @submit="addPrice"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="number"
            v-model="formData.priceNal"
            label="Цена наличными"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-input
            filled
            type="number"
            v-model="formData.priceBeznal"
            label="Цена Безнальчными"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />

          <q-select
            filled
            v-model="formData.factory"
            input-debounce="0"
            label="Выберите завод"
            :options="factories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
          >
            <template v-slot:append>
              <q-btn round dense flat icon="add" @click.stop.prevent="modalFactory = true" />
            </template>
          </q-select>

          <q-select
            filled
            v-model="formData.category"
            input-debounce="0"
            label="Выберите Категорию"
            :options="categories"
            class="q-ml-md q-mt-lg"
            option-label="name"
            option-value="id"
          >
            <template v-slot:append>
              <q-btn round dense flat icon="add" @click.stop.prevent="modalCategory = true" />
            </template>
          </q-select>

          <q-select
            filled
            v-model="formData.subcategory"
            input-debounce="0"
            label="Выберите Подкатегорию"
            :options="subcategories"
            class="q-ml-md q-mt-lg"
            option-label="name"
            option-value="id"
          >
            <template v-slot:append>
              <q-btn round dense flat icon="add" @click.stop.prevent="modalSubcategory = true" />
            </template>
          </q-select>

          <q-select
            filled
            v-model="formData.product"
            input-debounce="0"
            label="Выберите товар"
            :options="products"
            class="q-ml-md"
            option-label="name"
            option-value="id"
          >
            <template v-slot:append>
              <q-btn round dense flat icon="add" @click.stop.prevent="modalProduct = true" />
            </template>
          </q-select>

          <div>
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalUpdate">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменение цены</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form
          @submit="update"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="number"
            v-model="formDataUp.priceNal"
            label="Цена наличными"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-input
            filled
            type="number"
            v-model="formDataUp.priceBeznal"
            label="Цена Безнальчными"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />

          <q-select
            filled
            v-model="formDataUp.factory"
            input-debounce="0"
            label="Завод"
            :options="factories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
            disable
          />

          <q-select
            filled
            v-model="formDataUp.product"
            input-debounce="0"
            label="Товар"
            :options="products"
            class="q-ml-md"
            option-label="name"
            option-value="id"
            disable
          />

          <div>
            <q-btn label="Сохранить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Типы продукции</div>
      <q-btn
        color="primary"
        label="Категории"
        class="text-semibold q-ml-auto"
        to="/stamps/categories"
      />
      <q-btn
        color="primary"
        label="Подкатегории"
        class="text-semibold q-ml-lg"
        to="/stamps/subcategories"
      />
      <q-btn
        color="primary"
        label="Товары"
        class="text-semibold q-ml-lg"
        to="/stamps/products"
      />
      <q-btn
        color="primary"
        label="Заводы"
        class="text-semibold q-ml-lg"
        to="/stamps/factories"
      />
    </div>

    <div class="content q-pt-xl">

      <div class="row q-pb-lg">
        <q-select
          filled
          v-model="formDataSearch.factory"
          input-debounce="0"
          label="Выберите Завод"
          :options="factories"
          option-label="name"
          option-value="id"
          @update:model-value="getAll()"
          style="min-width: 320px;"
        >
          <template v-slot:append>
            <q-icon name="close" @click.stop.prevent="formDataSearch.factory = null;getAll()" class="cursor-pointer" />
          </template>
        </q-select>

        <q-select
          filled
          v-model="formDataSearch.category"
          input-debounce="0"
          label="Выберите Категорию"
          :options="categories"
          option-label="name"
          option-value="id"
          class="q-ml-md"
          style="min-width: 320px;"
        >
          <template v-slot:append>
            <q-icon name="close" @click.stop.prevent="formDataSearch.category = null;getAll()" class="cursor-pointer" />
          </template>
        </q-select>

        <q-select
          filled
          v-model="formDataSearch.subcategory"
          input-debounce="0"
          label="Выберите Подкатегорию"
          :options="subcategoriesSearch"
          @update:model-value="getAll()"
          class="q-ml-md"
          option-label="name"
          option-value="id"
          style="min-width: 320px;"
        >
          <template v-slot:append>
            <q-icon name="close" @click.stop.prevent="formDataSearch.subcategory = null;getAll()" class="cursor-pointer" />
          </template>
        </q-select>

      </div>

      <q-table
        :rows="rows"
        :columns="columns"
        hide-pagination
        v-model:pagination="pagination"
        row-key="id"
        class="my-table"
      >
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div class="row" v-if="user?.isRole === 'ADMIN'">
              <q-btn
                color="negative"
                icon="delete"
                class="q-mr-md"
                @click="del(props.row.factoryPriceId)"
              />
              <q-btn
                color="positive"
                icon="edit"
                class="q-mr-md"
                @click="openDialogUpdate(props.row)"
              />
            </div>
          </q-td>
        </template>
      </q-table>

      <div class="row q-mt-lg">
        <q-pagination
          v-model="pagination.current"
          color="primary"
          :max="pagination.maxPages"
          :max-pages="6"
          boundary-numbers
          direction-links
          @update:model-value="getAll"
        />
        <q-btn
          color="primary"
          label="Добавить цену"
          class="text-semibold q-ml-auto"
          @click="modal = true"
        />
      </div>

    </div>
  </q-page>
</template>

<script setup>
import { ref, reactive, onMounted, watch } from "vue"
import { factoryPriceApi } from 'src/api/factoryprice'
import { categoryApi } from 'src/api/category'
import { subcategoriesApi } from 'src/api/subcategory'
import { productApi } from 'src/api/product'
import { factoryApi } from 'src/api/factory'
import { useQuasar } from 'quasar'
import { useUserStore } from 'src/store/user'

const userStore = useUserStore()
const user = userStore.user
const $q = useQuasar()

const rows = ref([])
const columns = ref([
  { name: "factory", field: "factory", format: (val) => `${val}`, sortable: true, label: "Завод", align: "left", field: row => row.factory.name },
  { name: "category", field: "category", format: (val) => `${val}`, sortable: true, label: "Категория", align: "left", },
  { name: "subcategory", field: "subcategory", format: (val) => `${val}`, sortable: true, label: "Подкатегория", align: "left", },
  { name: "product", field: "product", format: (val) => `${val}`, sortable: true, label: "Товар", align: "left", field: row => row.product.name },
  { name: "priceNal", field: "priceNal", format: (val) => `${val}`, sortable: true, label: "Наличными", align: "left", },
  { name: "priceBeznal", field: "priceBeznal", format: (val) => `${val}`, sortable: true, label: "Безналичными", align: "left", },
  { name: "action", field: "factoryPriceId", format: (val) => `${val}`, sortable: false, label: "", align: "left", },
]);
const pagination = ref({
  rowsPerPage: -1,
  current: 1,
  maxPages: 1
})
const modal = ref(false)
const modalUpdate = ref(false)
const modalFactory = ref(false)
const modalCategory = ref(false)
const modalSubcategory = ref(false)
const modalProduct = ref(false)
const factories = ref([])
const factoryName = ref(null)
const categories = ref([])
const categoryName = ref(null)
const subcategoryName = ref(null)
const subcategories = ref([])
const subcategoriesSearch = ref([])
const productName = ref(null)
const products = ref([])

const formData = reactive({
  factory: null,
  category: null,
  subcategory: null,
  product: null,
  priceNal: null,
  priceBeznal: null,
})
const formDataUp = reactive({
  factoryPriceId: null,
  factory: null,
  product: null,
  priceNal: null,
  priceBeznal: null,
})
const formDataSearch = reactive({
  factory: null,
  category: null,
  subcategory: null,
})

watch(() => formData?.category?.id, async (newCategoryId) => {
  if (!newCategoryId) {
    subcategories.value = []
  } else {
    try {
      const data = await categoryApi.getSubcategories(newCategoryId)
      subcategories.value = data
      formData.subcategory = []
    } catch (err) {
      console.error(err)
      subcategories.value = []
    }
  }
})
watch(() => formDataSearch?.category?.id, async (newCategoryId) => {
  if (!newCategoryId) {
    subcategoriesSearch.value = []
  } else {
    try {
      const data = await categoryApi.getSubcategories(newCategoryId)
      subcategoriesSearch.value = data
      formDataSearch.subcategory = []
      getAll()
    } catch (err) {
      console.error(err)
      subcategoriesSearch.value = []
    }
  }
})
watch(() => formData?.subcategory?.id, async (newCategoryId) => {
  if (!newCategoryId) {
    products.value = []
  } else {
    try {
      const data = await subcategoriesApi.getprductsBySubcategory(newCategoryId)
      products.value = data
      formData.product = []
    } catch (err) {
      console.error(err)
      products.value = []
    }
  }
})

const getAll = async () => {
  try {
    const resp = await factoryPriceApi.getPriceTable(pagination.value, formDataSearch)
    rows.value = resp.data
    pagination.value.maxPages = resp.maxPages

  } catch (err) {
    console.log(err)
  }
}
const getFactories = async () => {
  try {
    const resp = await factoryApi.getAll()
    factories.value = resp
  } catch (err) {
    console.log(err)
  }
}


const getCategories = async () => {
  try {
    const resp = await categoryApi.getAll()
    categories.value = resp
  } catch (err) {
    console.log(err)
  }
}
const createCategory = async () => {
  try {
    const resp = await categoryApi.create(categoryName.value)
    $q.notify({ color: 'positive', message: 'Категория добавлена' })
    getCategories()

    modalCategory.value = false
    categoryName.value = null
    formData.category = resp

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const createFactory = async () => {
  try {
    const resp = await factoryApi.create(factoryName.value)
    $q.notify({ color: 'positive', message: 'Завод добавлен' })
    getFactories()

    modalFactory.value = false
    factoryName.value = null
    formData.factory = resp

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const createSubcategory = async () => {
  if (!formData.category?.id) return $q.notify({ color: 'negative', message: 'Выберите категорию' })

  try {
    const data = {
      name: subcategoryName.value,
      category: formData.category
    }
    const resp = await subcategoriesApi.create(data)
    $q.notify({ color: 'positive', message: 'Подкатегория добавлена' })

    const newSubcategories = await categoryApi.getSubcategories(resp.categoryId)
    subcategories.value = newSubcategories
    formData.subcategory = resp
    subcategoryName.value = null
    modalSubcategory.value = false

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const createProduct = async () => {
  if (!formData.subcategory?.id) return $q.notify({ color: 'negative', message: 'Выберите подкатегорию' })

  try {
    const data = {
      name: productName.value,
      subcategory: formData.subcategory
    }
    const resp = await productApi.create(data)
    $q.notify({ color: 'positive', message: 'Продукт добавлен' })

    const newProduct = await subcategoriesApi.getprductsBySubcategory(resp.subcategoryId)
    subcategories.value = newProduct
    formData.product = resp
    productName.value = null
    modalProduct.value = false

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}


const addPrice = async () => {
  try {
    await factoryPriceApi.create(formData)
    $q.notify({ color: 'positive', message: 'Цена добавлена' })
    getAll()
    modal.value = false
    formData = {
      factory: null,
      category: null,
      subcategory: null,
      product: null,
      priceNal: null,
      priceBeznal: null,
    }

  } catch(err) {
    console.log(err)
  }
}
const update = async () => {
  try {
    await factoryPriceApi.update(formDataUp)
    getAll()
    $q.notify({ color: 'positive', message: 'Цена обновлена' })
    modalUpdate.value = false
  } catch(err) {
    console.log(err)
  }
}
const openDialogUpdate = (val) => {
  Object.assign(formDataUp, val)
  modalUpdate.value = true
}

const del = async (id) => {
  try {
    await factoryPriceApi.del(id)
    getAll()
    $q.notify({ color: 'positive', message: 'Цена удалена' })

  } catch(err) {
    console.log(err)
  }
}

onMounted(() => {
  getAll()
  getFactories()
  getCategories()
})
</script>
