<template>
  <LoaderDate
    v-show="loading"
  />

  <q-dialog v-model="modal">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменить товара</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form
          @submit="update"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="text"
            v-model="subcategoryUp.name"
            label="Название подкатегории"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-select
            filled
            v-model="subcategoryUp.category"
            input-debounce="0"
            label="Выберите категорию"
            :options="categories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
          />
          <q-select
            filled
            v-model="subcategoryUp.subcategory"
            input-debounce="0"
            label="Выберите подкатегорию"
            :options="subcategoriesUp"
            class="q-ml-md"
            option-label="name"
            option-value="id"
          />

          <div>
            <q-btn label="Сохранить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4 q-mr-auto" style="font-weight: 600">Товары</div>
      <q-btn label="назад" type="submit" color="primary" icon="replay" padding="6px 20px" to="/stamps"/>
    </div>

    <div class="row full-width q-mt-xl q-pb-lg">
      <div class="col-12 col-md-3 bg-blue-grey-1 q-pa-md">
        <q-form
          @submit="create"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="text"
            v-model="formData.name"
            label="Название товара"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-select
            filled
            v-model="formData.category"
            input-debounce="0"
            label="Выберите категорию"
            :options="categories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
          />

          <q-select
            filled
            v-model="formData.subcategory"
            input-debounce="0"
            label="Выберите подкатегорию"
            :options="subcategories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
          />

          <div>
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
            <q-btn label="Очистить" color="primary" flat class="q-ml-sm" padding="6px 20px" @click="name = null" />
          </div>
        </q-form>
      </div>
    </div>

    <q-table
      :rows="rows"
      :columns="columns"
      hide-pagination
      row-key="id"
      v-model:pagination="pagination"
      class="my-table q-mt-lg"
    >
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div class="row" v-if="user?.isRole === 'ADMIN'">
            <q-btn
              color="negative"
              icon="delete"
              class="q-mr-md"
              @click="del(props.row.id)"
            />
            <q-btn
              color="positive"
              icon="edit"
              class="q-mr-md"
              @click="updateSubcategory(props.row)"
            />
          </div>
        </q-td>
      </template>
    </q-table>

  </q-page>
</template>

<script setup>
import { ref, reactive, onMounted, watch } from "vue"
import { useQuasar } from 'quasar'
import LoaderDate from 'src/components/LoaderDate.vue'
import { categoryApi } from 'src/api/category'
import { productApi } from 'src/api/product'
import { useUserStore } from 'src/store/user'

const userStore = useUserStore()
const user = userStore.user

const $q = useQuasar()
const rows = ref([])
const columns = ref([
  {
    name: "id",
    field: "id",
    format: (val) => `${val}`,
    sortable: true,
    label: "id",
    align: "left",
  },
  {
    name: "name",
    label: "Название",
    align: "left",
    field: "name",
    sortable: true,
  },
  {
    name: "subcategory",
    label: "Подкатегория",
    align: "left",
    field: "subcategory",
    sortable: true,
    field: row => row.subcategory.name,
    format: val => val
  },
  {
    name: "action",
    label: "Действия",
    align: "left",
    field: "action",
    sortable: true,
  },
])

const formData = reactive({
  name: null,
  category: null,
  subcategory: null
})
const loading = ref(false)
const modal = ref(false)
const categories = ref([])
const subcategories = ref([])
const subcategoriesUp = ref([])
const subcategoryUp = reactive({
  id: null,
  name: null,
  subcategory: null,
})

const getAllProducts = async () => {
  loading.value = true
  try {
    const resp = await productApi.getAll()
    rows.value = resp
  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

const getAllCategory = async () => {
  loading.value = true
  try {
    const resp = await categoryApi.getAll()
    categories.value = resp
    formData.category = categories.value[0]

  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

watch(() => formData?.category?.id, async (newCategoryId) => {
  if (!newCategoryId) {
    subcategories.value = []
  } else {
    try {
      const data = await categoryApi.getSubcategories(newCategoryId)
      subcategories.value = data
      formData.subcategory = []
    } catch (err) {
      console.error(err)
      subcategories.value = []
    }
  }
})
watch(() => subcategoryUp?.category?.id, async (newCategoryId) => {
  if (!newCategoryId) {
    subcategoriesUp.value = []
  } else {
    try {
      const data = await categoryApi.getSubcategories(newCategoryId)
      subcategoriesUp.value = data
      subcategoryUp.subcategory = []
    } catch (err) {
      console.error(err)
      subcategoriesUp.value = []
    }
  }
})

const create = async () => {
  if (!formData?.subcategory?.id) return $q.notify({ color: 'negative', message: 'Выберите подкатегорию' })

  try {
    await productApi.create(formData)
    getAllProducts()
    $q.notify({ color: 'positive', message: 'подкатегория добавлена' })
  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const update = async () => {
  try {
    await productApi.update(subcategoryUp)
    getAllProducts()
    $q.notify({ color: 'positive', message: 'подкатегория обновлена' })
    modal.value = false

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const del = async (id) => {
  try {
    await productApi.del(id)
    getAllProducts()
    $q.notify({ color: 'positive', message: 'подкатегория удалена' })

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const updateSubcategory = async (val) => {
  Object.assign(subcategoryUp, val)
  subcategoryUp.category = categories.value.find(el => el.id == val?.subcategory?.categoryId)
  modal.value = true
}

const pagination = ref({
  rowsPerPage: -1
})
onMounted(() => {
  getAllProducts()
  getAllCategory()
})

</script>
