<template>
  <LoaderDate v-if="loading" />

  <q-dialog v-model="modalCreate">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменить адрес</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form @submit="create()" class="q-gutter-md my-form">
          <q-input
            filled
            type="text"
            v-model="addressForm.name"
            label="Название адреса"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-select
            filled
            v-model="addressForm.factory"
            input-debounce="0"
            label="Завод"
            :options="factories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
            style="min-width: 320px;"
          />

          <q-input
            filled
            type="number"
            v-model="addressForm.km"
            label="Расстояние от завода"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-input
            filled
            type="number"
            v-model="addressForm.pricePerCubic"
            label="Цена доставки за куб"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-input
            filled
            type="number"
            v-model="addressForm.priceFor8Cubic"
            label="Цена доставки за 8 кубов"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-input
            filled
            type="text"
            v-model="addressForm.coordinates"
            label="Координаты (опционально)"
            lazy-rules
          />

          <div>
            <q-btn label="Сохранить" type="submit" color="primary" padding="6px 20px" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modal">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменить адрес</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form @submit="update()" class="q-gutter-md my-form">
          <q-input
            filled
            type="text"
            v-model="addressFormUp.name"
            label="Название адреса"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-select
            filled
            v-model="addressFormUp.factory"
            input-debounce="0"
            label="Завод"
            :options="factories"
            class="q-ml-md"
            option-label="name"
            option-value="id"
            style="min-width: 320px;"
          />

          <q-input
            filled
            type="number"
            v-model="addressFormUp.km"
            label="Расстояние от завода"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-input
            filled
            type="number"
            v-model="addressFormUp.pricePerCubic"
            label="Цена доставки за куб"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-input
            filled
            type="number"
            v-model="addressFormUp.priceFor8Cubic"
            label="Цена доставки за 8 кубов"
            class="q-pb-sm"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Поле не должно быть пустым']"
          />
          <q-input
            filled
            type="text"
            v-model="addressFormUp.coordinates"
            label="Координаты (опционально)"
            lazy-rules
          />

          <div>
            <q-btn label="Сохранить" type="submit" color="primary" padding="6px 20px" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4 q-mr-auto" style="font-weight: 600">Адреса</div>
      <q-btn label="Назад" type="submit" color="primary" icon="replay" padding="6px 20px" to="/goods" />
    </div>

    <div class="row q-pt-xl">
      <div class="col-12 row">
        <q-input
          filled
          v-model="search"
          label="Поиск по названию адреса"
          @input="onSearchInput"
          clearable
          style="min-width: 340px;"
        />
        <q-select
          filled
          v-model="searchFactory"
          input-debounce="0"
          label="Фильтр по заводу"
          :options="factories"
          @update:modelValue="getAddresses"
          class="q-ml-md"
          option-label="name"
          option-value="id"
          style="min-width: 320px;"
          >
          <template v-slot:append>
            <q-icon name="close" @click.stop.prevent="searchFactory = null;getAddresses()" class="cursor-pointer" />
          </template>
        </q-select>
      </div>
    </div>

    <q-table
      :rows="rows"
      :columns="columns"
      row-key="id"
      hide-pagination
      v-model:pagination="pagination"
      :loading="loading"
      class="my-table q-mt-lg"
    >
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div class="row" v-if="user.isRole === 'ADMIN'">
            <q-btn
              color="negative"
              icon="delete"
              class="q-mr-md"
              @click="del(props.row.id)"
            />
            <q-btn
              color="positive"
              icon="edit"
              class="q-mr-md"
              @click="openModal(props.row)"
            />
          </div>
        </q-td>
      </template>
    </q-table>

    <div class="row q-mt-lg">
      <q-pagination
        v-model="pagination.page"
        color="primary"
        :max="pagination.rowsNumber"
        :max-pages="6"
        boundary-numbers
        direction-links
        @update:model-value="getAddresses"
      />
      <q-btn label="Добавить адрес" color="primary" padding="6px 20px" class="q-ml-auto" @click="modalCreate = true" />
    </div>
  </q-page>
</template>

<script setup>
import { ref, reactive, onMounted, watch } from 'vue'
import { useQuasar } from 'quasar'
import LoaderDate from 'src/components/LoaderDate.vue'
import { addressApi } from 'src/api/address'
import { factoryApi } from 'src/api/factory'
import { useUserStore } from 'src/store/user'

const userStore = useUserStore()
const user = userStore.user
const $q = useQuasar()

const rows = ref([])
const columns = ref([
  {
    name: 'name',
    label: 'Название',
    align: 'left',
    field: 'name',
    sortable: true,
  },
  {
    name: "factory",
    label: "Завод",
    align: "left",
    field: "factory",
    sortable: true,
    field: row => row.factory?.name
  },
  {
    name: "km",
    label: "Расстояние (км)",
    align: "left",
    field: "km",
    sortable: true,
  },
  {
    name: 'pricePerCubic',
    label: 'Цена за куб',
    align: 'left',
    field: 'pricePerCubic',
    sortable: false,
  },
  {
    name: 'priceFor8Cubic',
    label: 'Цена за 8 куб',
    align: 'left',
    field: 'priceFor8Cubic',
    sortable: false,
  },
  {
    name: 'coordinates',
    label: 'Координаты',
    align: 'left',
    field: 'coordinates',
    sortable: false,
  },
  {
    name: 'action',
    label: 'Действия',
    align: 'left',
    field: 'action',
    sortable: false,
  },
])

const loading = ref(false)
const modal = ref(false)
const modalCreate = ref(false)
const factories = ref([])
const addressForm = reactive({
  name: '',
  factory: null,
  km: null,
  pricePerCubic: null,
  priceFor8Cubic: null,
  coordinates: '',
})
const addressFormUp = reactive({
  id: null,
  name: '',
  factory: null,
  km: null,
  pricePerCubic: null,
  priceFor8Cubic: null,
  coordinates: '',
})

const pagination = ref({
  page: 1,
  rowsPerPage: 10,
  rowsNumber: 0,
})

const search = ref('')
const searchFactory = ref(null)

const getAddresses = async () => {
  loading.value = true
  try {
    const params = {
      page: pagination.value.page,
      perPage: pagination.value.rowsPerPage,
    }
    if (search.value?.length > 3)  params.name = search.value
    if (searchFactory.value)  params.factoryId = searchFactory.value?.id

    const resp = await addressApi.getAll(params)
    rows.value = resp.data
    pagination.value.rowsNumber = resp.maxPages

  } catch (err) {
    console.error(err)
    $q.notify({ color: 'negative', message: 'Ошибка при получении адресов' })
  }
  loading.value = false
}
const getFactories = async () => {
  try {
    const resp = await factoryApi.getAll()
    factories.value = resp
  } catch (err) {
    console.log(err)
  }
}


const onSearchInput = () => {
  if (search.value.length >= 3 || search.value.length === 0) {
    pagination.value.page = 1
    getAddresses()
  }
}

watch(
  () => search.value,
  () => {
    if (search.value?.length > 3 || search.value === '') getAddresses()
  }
)

const openModal = (val) => {
  Object.assign(addressFormUp, val)

  modal.value = true
}

const create = async () => {
  try {
    await addressApi.create(addressForm)
    getAddresses()
    $q.notify({ color: 'positive', message: 'Адрес добавлен' })
    modalCreate.value = false
  } catch (err) {
    console.error(err)
  }
}

const update = async () => {
  try {
    await addressApi.update(addressFormUp)
    getAddresses()
    $q.notify({ color: 'positive', message: 'Адрес обновлен' })
    modal.value = false
    addressFormUp = {
      id: null,
      name: '',
      factory: null,
      km: null,
      pricePerCubic: null,
      priceFor8Cubic: null,
      coordinates: '',
    }

  } catch (err) {
    console.error(err)
  }
}

const del = async (id) => {
  try {
    await addressApi.del(id)
    getAddresses()
    $q.notify({ color: 'positive', message: 'Адрес удален' })
  } catch (err) {
    console.error(err)
  }
}

onMounted(() => {
  getAddresses()
  getFactories()
})
</script>

<style scoped>
.my-table .q-table__middle {
  overflow: visible
}
</style>
