<template>
  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Создание паспорта</div>
      <q-btn
        color="primary"
        label="Вернуться назад"
        class="text-semibold q-ml-auto"
        to="/quality"
      />
    </div>

    <div class="content q-pt-xl">
      <div class="row">
        <div class="col-12 col-lg-7">
          <div class="q-pr-xl">
            <q-form @submit="onSubmit" class="q-gutter-md my-form">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <q-select
                    filled
                    v-model="formData.shipper"
                    :options="optionSend"
                    label="Выберите грузоотправителя"
                    class="q-mb-lg"
                  >
                    <template v-slot:append>
                      <q-icon name="close" @click.stop="formData.shipper = ''" class="cursor-pointer" />
                    </template>
                  </q-select>
                </div>
                <div class="col-12 col-lg-6">

                </div>
              </div>

            </q-form>


          </div>

        </div>
        <div class="col-12 col-lg-5">
          <div class="quality-document">
            <div class="container">
              <h1>Документ о качестве бетонной смеси №1059</h1>

              <p class="bold">Производитель и поставщик бетонной смеси: ООО «Мегалит Бетон»</p>

              <p><b>Адрес погрузки:</b> г. СПб., г. Петергоф, Ропшинское шоссе 8 лит. е</p>

              <p><b>Плательщик:</b> ООО «СК «Терминал»</p>

              <p><b>Грузополучатель:</b> ООО «СК «Терминал»</p>

              <p><b>Адрес:</b> ---</p>

              <p><b>Дата и время отгрузки бетонной смеси:</b> 9.06.2022</p>

              <p><b>Вид бетонной смеси:</b> БСГ В15 F100 W4 П2 ГОСТ 7473-2010</p>

              <p><b>Номер номинального состава бетонной смеси:</b> 103</p>

              <p><b>Объем бетонной смеси в партии:</b> 4 м³</p>

              <p><b>Марка бетонной смеси по удобоукладываемости:</b> П2 (5-9см)</p>

              <p><b>Другие нормируемые показатели качества:</b> _________</p>

              <p><b>Сохраняемость удобоукладываемости:</b> 120 мин</p>

              <p><b>Наибольшая крупность заполнителя:</b> 20 мм</p>

              <p><b>Проектный класс бетона по прочности:</b> В15 (16 МПа) за 28 суток</p>

              <p><b>Наименование добавки:</b> Sika Plast 32,35%</p>

              <p><b>Дата выдачи:</b> 9 июня 2022 г.</p>

              <div class="signature">
                <p>Сотрудник лаборатории: _______________ /Березина А.А./</p>
                <p>М.П.</p>
              </div>

              <div class="footer-notes">
                <p>Изготовитель гарантирует заявленную прочность бетона при соблюдении ГОСТ 10180.</p>
                <p>Конечные свойства бетона зависят от соблюдения правил и норм по укладке бетонной смеси и уходу за ней согласно
                  СНиП 3.06.04 и СНиП 3.03.01-87.</p>
                <p>Производитель не несет ответственность за качество бетонной смеси в следующих случаях:</p>
                <ul class="warning-list">
                  <li>Затянутая продолжительность выгрузки бетонной смеси (свыше 1 часа 20 минут).</li>
                  <li>Добавление в готовую смесь воды на месте укладки.</li>
                  <li>Несоблюдение высоты свободного сбрасывания бетонной смеси в опалубку конструкции.</li>
                  <li>Недостаточное уплотнение бетонной смеси.</li>
                  <li>Неправильный уход за свежеуложенной бетонной смесью.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </q-page>
</template>

<script setup>
import { ref, reactive } from 'vue'

const formData = reactive({
    address: '',
    shipper: "",
  })

const optionSend = ref([
  'Мегалит Бетон',
  'БСУ 1',
  'ПО "Горизонт"'
])

const onSubmit = () => {

}
</script>
