<template>
  <LoaderDate
    v-if="loading"
  />

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Паспорта</div>
      <q-btn
        color="primary"
        label="Добавить паспорт"
        class="text-semibold q-ml-auto"
        to="/quality/create"
      />
    </div>

    <div class="content q-pt-xl">
      <q-form
        @submit="getQuality"
        class="q-gutter-md my-form"
      >
        <div class="row items-start">
          <q-btn
            :label="formData.data ? formData.data :`Выберите дату`"
            color="positive"
            padding="15px 20px"
          >
            <q-menu>
              <q-date v-model="formData.data" mask="DD-MM-YYYY" />
            </q-menu>
          </q-btn>

          <q-btn
            label="Поиск"
            type="submit"
            color="primary"
            padding="15px 40px"
            class="q-ml-lg"
          />
        </div>
      </q-form>

      <q-table
        :rows="rows"
        :columns="columns"
        hide-pagination
        row-key="id"
        v-model:pagination="pagination"
        class="my-table q-mt-lg"
      >
        <template v-slot:body-cell-custom="props">
          <q-td :props="props">
            <div class="row">
              <q-btn color="primary" icon="edit" class="q-mr-md" :to="`/users/${props.row.id}`" />
              <q-btn color="negative" icon="warning" @click="blockedUser(props.row.id)" v-if="props.row.role !== 'blocked'" />
            </div>
          </q-td>
        </template>
      </q-table>
    </div>

  </q-page>
</template>

<script setup>
import { ref } from 'vue'

const loading = ref(false)
const today = new Date()
const currentDate = ref( `${String(today.getDate()).padStart(2, '0')}-${String(today.getMonth() + 1).padStart(2, '0')}-${today.getFullYear()}` )
const formData = ref({
  data: currentDate
})

const columns = ref([
  { name: "id", field: "id", format: (val) => `${val}`, sortable: false, label: "номер #", align: "left", },
  { name: "name", label: "Поставщик", align: "left", field: "name", sortable: false, },
  { name: "username", label: "Адрес погрузки", align: "left", field: "username", sortable: false, },
  { name: "phone", label: "Вид бетона", align: "left", field: "phone", sortable: false, },
  { name: "email", label: "Дата отгрузки", align: "left", field: "email", sortable: false, },
])

async function getQuality() {

}

</script>
