<template>
  <LoaderDate v-show="loading" />

  <q-dialog v-model="modalProduct" position="top" >
    <q-card style="min-width: 540px;margin-top: 60px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Выберите Продукт</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-select
          filled
          v-model="formData.subcategory"
          :options="subcategories"
          option-label="name"
          option-value="id"
          label="Выберите подкатегорию"
          class="bg-white"
          @update:modelValue="searchProductSubcat"
          style="min-width: 320px"
        />

        <q-select
          filled
          v-model="formData.product"
          :options="products"
          option-label="name"
          option-value="id"
          label="Выберите Товар"
          class="bg-white q-mt-lg"
          style="min-width: 320px"
        />

        <q-btn label="ОК" color="primary" padding="10px 20px" class="full-width q-mt-lg" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>


  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Создание ТТН</div>
      <q-btn
        color="primary"
        label="Вернуться назад"
        class="text-semibold q-ml-auto"
        to="/ttn"
      />
    </div>
    <div class="content q-pt-xl">
      <q-form ref="form" @submit.prevent="onSubmit" class="q-gutter-md my-form">
        <div class="row">
          <div class="col-12 col-lg-4 q-pr-xl">

            <!-- Грузоотправитель -->
            <q-select
              filled
              v-model="formData.shipper"
              :options="optionSend"
              label="Выберите грузоотправителя"
              :rules="[val => !!val || 'Выберите грузоотправителя']"
            >
              <template v-slot:append>
                <q-icon name="close" @click.stop="formData.shipper = ''" class="cursor-pointer" />
              </template>
            </q-select>

            <!-- Плательщик -->
            <q-input
              filled
              v-model="formData.payer"
              label="Плательщик"
              lazy-rules
              class="q-mb-sm"
              :rules="[val => !!val || 'Поле не должно быть пустым']"
            />

            <!-- Грузополучатель -->
            <q-input
              filled
              v-model="formData.send_address"
              label="Введите грузополучателя"
              lazy-rules
              class="q-mb-sm"
              :rules="[val => !!val || 'Поле не должно быть пустым']"
            />

            <!-- Адрес -->
            <q-select
              filled
              v-model="formData.address"
              :options="addressesFiltered"
              label="Адрес доставки"
              fill-input
              use-input
              clearable
              hide-selected
              emit-value
              map-options
              option-label="name"
              option-value="name"
              @filter="filterAddress"
              @input-value="updateAddress"
              :rules="[val => !!val || 'Выберите или введите адрес доставки']"
              class="q-mb-sm"
            />

            <q-select
              filled
              v-model="formData.factory"
              input-debounce="0"
              label="Выберите завод"
              :options="factories"
              class="q-mb-sm"
              emit-value
              map-options
              option-label="name"
              :rules="[val => !!val || 'Выберите завод']"
            />


            <!-- Водитель -->
            <q-select
              filled
              v-model="formData.driver"
              :options="driversFiltered"
              label="Выберите водителя"
              use-input
              input-debounce="300"
              clearable
              option-label="name"
              emit-value
              map-options
              @filter="filterDriver"
              :rules="[val => !!val || 'Выберите водителя']"
            />

            <q-select
              filled
              v-model="formData.product"
              :options="products"
              label="Вид продукции"
              option-label="name"
              option-value="id"
              class="bg-white q-mb-lg"
              @click.stop.prevent="modalProduct = true"

            >
              <template v-slot:append>
                <q-btn round dense flat icon="add" @click.stop.prevent="modalProduct = true" />
              </template>
            </q-select>

            <!-- Количество -->
            <q-input
              filled
              v-model="formData.value"
              label="Введите Количество"
              lazy-rules
              class="q-mb-sm"
              type="number"
              :rules="[
                val => !!val || 'Поле не должно быть пустым',
                val => parseFloat(val) > 0 || 'Количество должно быть положительным числом',
              ]"
            />

            <!-- Масса -->
            <q-input
              filled
              v-model="formData.weight"
              label="Масса т"
              lazy-rules
              class="q-mb-sm"
              type="text"
              :rules="[val => !!val || 'Поле не должно быть пустым']"
            />

            <!-- Сумма -->
            <q-input
              filled
              v-model="formData.price"
              label="Введите сумму (руб.)"
              lazy-rules
              type="number"
              class="q-mb-sm"
              :rules="[
                val => !!val || 'Поле не должно быть пустым',
                val => parseInt(val) > 0 || 'Сумма должна быть положительным числом',
              ]"
            />

            <!-- Телефон -->
            <q-input
              filled
              v-model="formData.phone"
              label="Введите номер телефона"
              lazy-rules
              type="tel"
              class="q-mb-sm"
              :rules="[
                val => !!val || 'Поле не должно быть пустым',
                val => /^(\+?\d{1,3}[- ]?)?\d{10}$/.test(val) || 'Некорректный номер телефона',
              ]"
            />

            <!-- Дата доставки -->
            <div class="field-date q-pb-md">
              <q-btn
                :label="formData.date_delivery ? formData.date_delivery : 'Дата доставки'"
                color="positive"
                padding="15px 20px"
                class="full-width"
              >
                <q-menu v-slot:default>
                  <q-date v-model="formData.date_delivery" mask="DD.MM.YYYY" />
                </q-menu>
              </q-btn>
            </div>

            <!-- Скрытый инпут для валидации даты доставки -->
            <q-input
              v-if="false"
              v-model="formData.date_delivery"
              type="hidden"
              :rules="[val => !!val || 'Выберите дату доставки']"
            />

            <!-- Кнопки -->
            <div class="q-mt-lg section-btns">
              <q-btn
                label="Создать ТТН"
                type="submit"
                color="primary"
                padding="15px 20px"
              />
              <q-btn
                label="Создать и Распечатать"
                icon="print"
                color="positive"
                padding="15px 20px"
                class="q-ml-md"
                type="button"
                @click="onSubmitAndPrint"
              />
            </div>
          </div>

          <!-- Предпросмотр документа -->
          <div class="col-12 col-lg-8">
            <div class="doc-img">
              <div class="inputs" style="width: 1039px;">
                <div class="clear-head" v-if="formData.shipper && formData.shipper === optionSend[1]"></div>

                <div class="doc-id">{{ documentId }}</div>

                <input type="text" disabled v-model="formData.shipper" class="grusootpravitel" style="opacity: 1 !important;">
                <input type="text" v-model="formData.payer" class="platelshik">
                <input type="text" v-model="formData.send_address" class="grusopolychatel">
                <input type="text" disabled class="nomer" v-model="documentId" style="opacity: 1 !important;">
                <input type="text" disabled class="nomer nomer-2" v-model="formData.date_delivery" style="opacity: 1 !important;">

                <div class="text mark-sec" v-if="formData?.product?.name">
                  {{ `${formData?.subcategory?.name} ${formData?.product?.name}` }}
                </div>

                <input type="text" class="value" v-model="formData.value">
                <input type="text" disabled class="unit" v-model="formData.unit" style="opacity: 1 !important;">
                <input type="text" class="package-type" disabled v-model="formData.package_type" style="opacity: 1 !important;">
                <input type="text" class="weight" v-model="formData.weight">
                <input type="text" class="price" v-model="formData.price">
                <!-- <input type="text"  class="data"> -->
                <!-- <input type="text" disabled class="data-send-address" v-model="formData.factory.name" style="opacity: 1 !important;"> -->
                <div class="text data-send-address">{{ formData.factory?.name }}</div>
                <div class="text data-recv-address">{{ formData.address }}</div>

                <div class="text data-delivery">{{ formData.date_delivery }}</div>
                <!-- <div class="text comment">{{ formData.driver_comment }}</div> -->

                <div class="text voditel">{{ formData.driver?.name }}</div>

                <div class="text voditel2">{{ formData.driver?.carName }}</div>
                <div class="text voditel3">{{ formData.driver?.carNumber }}</div>
                <div class="text tel">{{ formData.phone }}</div>

                <input type="text" disabled class="text nach" value="Смирнов А.В." style="opacity: 1 !important;">
                <input type="text" disabled class="text dispetcher" value="Иванов В.В." style="opacity: 1 !important;">

              </div>
              <img src="/ttn.jpg" alt="" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useQuasar } from "quasar";
import { addressApi } from 'src/api/address'
import { ttnApi } from "src/api/ttn";
import { driversApi } from 'src/api/drivers'
import { factoryApi } from 'src/api/factory'
import { subcategoriesApi } from 'src/api/subcategory'
import { productApi } from 'src/api/product'
import LoaderDate from 'src/components/LoaderDate.vue';

const $q = useQuasar();
const loading = ref(false);
const form = ref(null);
const print = ref(false);
const documentId = ref(null);

// Данные формы
const formData = ref({
  address: '',
  driver: null,
  payer: '',
  product: null,
  factory: null,
  value: '',
  shipper: '',
  price: '',
  phone: '',
  date_delivery: '',
  unit: 'М3',
  package_type: 'Навал',
  weight: '2350кг',
  driver_comment: '',
  send_address: '',
  recv_address: '',
});

// Опции для селектов
const optionSend = ref([
  'Мегалит Бетон',
  'БСУ 1',
  'ПО "Горизонт"',
]);

const subcategories = ref([])
const products = ref([])
const modalProduct = ref(false)
const addresses = ref([])
const addressesFiltered = ref([])
const drivers = ref([]);
const driversFiltered = ref([]);
const factories = ref([])

const getAllSubcategory = async () => {
  try {
    const resp = await subcategoriesApi.getAll()
    subcategories.value = resp
  } catch (err) {
    console.log(err)
  }
}
const searchProductSubcat = async () => {
  try {
    const params = {
      subcategoryId: formData.subcategory?.id
    }
    const resp = await productApi.getAll(params)
    products.value = resp
  } catch (err) {
    console.log(err)
  }
}

// Функции для загрузки адресов и водителей
const updateAddress = (val) => {
  formData.value.address = null
  formData.value.address = val
}
const getAddresses = async () => {
  try {
    const params = {
      page: 1,
      perPage: 1000000
    }
    const resp = await addressApi.getAll(params)
    addresses.value = resp.data

  } catch(e) {}
}

async function getAll() {
  try {
    const resp = await driversApi.getAll()
    drivers.value = resp
  } catch (err) {
    console.log(err)
  }
}
const getFactories = async () => {
  try {
    const resp = await factoryApi.getAll()
    factories.value = resp
  } catch (err) {
    console.log(err)
  }
}

// Функции фильтрации для селектов
function filterAddress(val, update) {
  if (val === '') {
    update(() => {
      addressesFiltered.value = addresses.value
    })
    return
  }

  update(() => {
    const needle = val.toLowerCase()
    addressesFiltered.value = addresses.value.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
  })
}

function filterDriver(val, update, abort) {
  if (val === '') {
    update(() => {
      driversFiltered.value = drivers.value
    })
    return
  }

  update(() => {
    const needle = val.toLowerCase()
    driversFiltered.value = drivers.value.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
  })
}

// Функция для преобразования даты в ISO формат
function convertDateToISOString(dateString) {
  if (!dateString) return null;
  const [day, month, year] = dateString.split('.');
  const isoDate = new Date(year, month - 1, day);
  return isoDate.toISOString();
}

// Обработка отправки формы
async function onSubmit() {
  if (!formData.value.product?.id) return $q.notify({ color: 'negative', message: 'Выберите продукцию', });

  if (await form.value.validate()) {
    loading.value = true;
    try {
      // Подготовка данных для отправки
      const dataToSend = {
        shipper: formData.value.shipper,
        payer: formData.value.payer,
        sendAddress: formData.value.send_address,
        recvAddress: formData.value.recv_address,
        phone: formData.value.phone,
        dateDelivery: convertDateToISOString(formData.value.date_delivery),
        unit: formData.value.unit,
        packageType: formData.value.package_type,
        weight: formData.value.weight,
        value: parseFloat(formData.value.value),
        price: parseInt(formData.value.price),
        driverComment: formData.value.driver_comment,
        address: formData.value.address,
        driverId: formData.value.driver?.id || null,
        factoryId: formData.value.factory?.id || null,
        productId: formData.value.product?.id || null,
        subcategoryId: formData.value.subcategory?.id || null,
      };

      const resp = await ttnApi.create(dataToSend);
      documentId.value = resp.id;

      $q.notify({
        color: 'positive',
        icon: 'check',
        message: 'Документ успешно создан',
      });

      setTimeout(() => {
        if (print.value) printPage();
        window.location.href = '/ttn';
      }, 500);

    } catch (err) {
      console.error(err);
      $q.notify({
        color: 'negative',
        message: err.response?.data?.message || 'Произошла ошибка',
      });
    } finally {
      loading.value = false;
    }
  } else {
    // Ошибки отображаются рядом с полями автоматически
    print.value = false;
  }
}

// Обработка отправки и печати
async function onSubmitAndPrint() {
  print.value = true;
  await onSubmit();
}

// Функция распечатки
function printPage() {
  window.print();
}

onMounted(() => {
  getAllSubcategory()
  getAddresses()
  getFactories()
  getAll()
})

</script>
