<template>
  <LoaderDate
    v-if="loading"
  />
  <TtnPrint
    v-if="!!project_id"
    :projectId="project_id"
    @printOff="onPrintOff"
  />

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">ТТН <small class="text-h5">{{formData.data}} (дата дд-мм-гггг)</small></div>
      <q-btn
        color="primary"
        label="Добавить ТТН"
        class="text-semibold q-ml-auto"
        to="/ttn/create"
      />
    </div>
    <div class="content q-pt-xl">
      <div class="filters q-mb-lg q-pb-sm" style="width: 100%;">

        <q-form
          @submit="getTtns"
          class="q-gutter-md my-form"
        >
          <div class="row items-start">
            <q-input
              filled
              v-model="formData.id"
              lazy-rules
              @clear="getTtns"
              placeholder="поиск по id (#)"
              class="q-mr-md"
            >
              <template v-slot:append>
                <q-icon name="close" @click.stop="formData.id = ''" class="cursor-pointer" />
              </template>
            </q-input>

            <q-select
              filled
              v-model="formData.address"
              :options="addressesFiltered"
              label="Адрес доставки"
              fill-input
              use-input
              clearable
              hide-selected
              emit-value
              map-options
              option-label="name"
              option-value="name"
              @filter="filterAddress"
              @clear="getTtns"
              @input-value="updateAddress"
              class="q-mb-sm"
              style="min-width: 340px;"
            />


            <!-- надо вставить поиск по адресу с создания ттн -->

            <q-btn
              :label="formData.data ? formData.data :`Выберите дату`"
              color="positive"
              padding="15px 20px"
              class="q-ml-md"
            >
              <q-menu>
                <q-date v-model="formData.data" mask="DD-MM-YYYY" />
              </q-menu>
            </q-btn>

            <q-btn
              label="Поиск"
              type="submit"
              color="primary"
              padding="15px 40px"
              class="q-ml-lg"
            />
          </div>
        </q-form>
      </div>

      <q-table
        :rows="rows"
        :columns="columns"
        hide-pagination
        v-model:pagination="pagination"
        row-key="id"
        class="my-table"
      >
        <template v-slot:body-cell-action="props">
          <q-td
            key="action"
            :props="props"
          >
            <div class="row" style="max-width: 288px;" v-if="user?.isRole === 'ADMIN'">
              <q-btn
                color="positive"
                icon="edit"
                class="q-mr-md"
                :to="`/ttn/${props.row.id}`"
              />
              <q-btn
                color="primary"
                icon="content_copy"
                class="q-mr-md"
                @click="dublettn(props.row)"
              />
              <q-btn
                color="blue-8"
                icon="print"
                class="q-mr-md"
                @click="printPage(props.row.id)"
              />
              <q-btn
                color="negative"
                icon="delete"
                @click="delTtn(props.row.id)"
                />
            </div>
          </q-td>
        </template>
      </q-table>

      <q-pagination
        class="q-ml-auto q-mb-lg q-mt-lg"
        v-model="pagination.current"
        :max="pagination.maxPages"
        :max-pages="6"
        direction-links
      />

    </div>
  </q-page>
</template>

<script setup>
import { ref, onMounted, computed } from "vue"
import { ttnApi } from "src/api/ttn"
import { addressApi } from 'src/api/address'
import { useQuasar } from "quasar"
import LoaderDate from 'src/components/LoaderDate.vue'
import TtnPrint from "src/components/TtnPrint"
import { useUserStore } from 'src/store/user'

const userStore = useUserStore()
const user = userStore.user
const $q = useQuasar()
const loading = ref(true)

const columns = ref([
  { name: "id", field: "id", format: (val) => `${val}`, sortable: false, label: "#", align: "left", },
  { name: "address", field: "address", format: (val) => `${val}`, sortable: false, label: "Адрес", align: "left", },
  { name: "driver", label: "Водитель", align: "left", field: "driver", sortable: false, field: row => row.driver.name },
  { name: "product", label: "Марка бетона", align: "left", field: "product", sortable: false, field: row => row.product.name },
  { name: "value", label: "Объем (куб.м.)", align: "left", field: "value", sortable: false, },
  { name: "price", label: "Сумма руб.", align: "left", field: "price", sortable: false, },
  { name: "shipper", label: "Грузоотправитель", align: "left", field: "shipper", sortable: false, },
  { name: "action", label: "Управление", align: "left", field: "action", sortable: false, },
])
// field: row => row.product.name
const rows = ref([])
const addresses = ref([])
const addressesFiltered = ref([])
const project_id = ref(null)

const today = new Date()
const currentDate = ref(
  `${String(today.getDate()).padStart(2, '0')}-${String(today.getMonth() + 1).padStart(2, '0')}-${today.getFullYear()}`
)
const formData = ref({
  id: null,
  address: null,
  data: currentDate
})

// пагинация
const pagination = ref({
  rowsPerPage: -1,
  current: 1,
  maxPages: 1
})

function filterAddress(val, update) {
  if (val === '') {
    update(() => {
      addressesFiltered.value = addresses.value
    })
    return
  }

  update(() => {
    const needle = val.toLowerCase()
    addressesFiltered.value = addresses.value.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
  })
}
const updateAddress = (val) => {
  formData.value.address = null
  formData.value.address = val
}

function formatDateToDDMMYYYY(dateString) {
  const date = new Date(dateString);

  const day = String(date.getDate()).padStart(2, '0');
  const month = String(date.getMonth() + 1).padStart(2, '0'); // Месяцы начинаются с 0, поэтому добавляем 1
  const year = date.getFullYear();

  return `${day}.${month}.${year}`;
}
// дублирование ттн
async function dublettn(obj) {
  try {
    const dataToSend = {
      shipper: obj.shipper,
      payer: obj.payer,
      sendAddress: obj.sendAddress,
      recvAddress: obj.recvAddress,
      phone: obj.phone,
      dateDelivery: formatDateToDDMMYYYY(obj.dateDelivery),
      unit: obj.unit,
      packageType: obj.packageType,
      weight: obj.weight,
      value: parseFloat(obj.value),
      price: parseInt(obj.price),
      driverComment: obj.driverComment,
      address: obj.address,
      driverId: obj.driver?.id || null,
      factoryId: obj.factory?.id || null,
      productId: obj.product?.id || null,
      subcategoryId: obj.subcategory?.id || null,
    };

    await ttnApi.create(dataToSend);
    getTtns()

    $q.notify({
      color: 'positive',
      icon: 'check',
      message: 'Документ успешно скопирован',
    });

  } catch(err) {
    console.log(err)
    $q.notify({
      color: "negative",
      message: "Произошла ошибка",
    })
  }
}

// удаление ттн
async function delTtn(id) {
  try {
    await ttnApi.del(id)
    await getTtns()
    $q.notify({
      color: "positive",
      icon: "check",
      message: "Документ удален",
    })
  } catch (err) {
    console.log(err)
    $q.notify({
      color: "negative",
      icon: "check",
      message: "Произошла ошибка",
    })
  }
}

const getAddresses = async () => {
  try {
    const params = {
      page: 1,
      perPage: 1000000
    }
    const resp = await addressApi.getAll(params)
    addresses.value = resp.data

  } catch(e) {}
}

// распечатка
function printPage(id) {
  project_id.value = id
}
function onPrintOff() {
  project_id.value = null
}

// получение листа ттн по параметрам
async function getTtns() {
  loading.value = true
  try {
    const resp = await ttnApi.getAll(formData.value, pagination.value)
    rows.value = resp.data
  } catch (err) {
    console.log(err)
  }
  loading.value = false
}


onMounted(() => {
  getTtns()
  getAddresses()
})
</script>
