<template>

  <q-dialog v-model="modalProduct" position="top" >
    <q-card style="max-width: 540px;width: 100%;margin-top: 60px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Выберите Продукт</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-select
          filled
          v-model="formData.subcategory"
          :options="subcategories"
          option-label="name"
          option-value="id"
          label="Выберите подкатегорию"
          class="bg-white"
          @update:modelValue="searchProductSubcat"
          style="min-width: 320px"
        />
        <q-select
          filled
          v-model="formData.product"
          :options="products"
          option-label="name"
          option-value="id"
          label="Выберите Товар"
          class="bg-white q-mt-lg"
          style="min-width: 320px"
        />

        <q-btn label="ОК" color="primary" padding="10px 20px" class="full-width q-mt-lg" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalAdditionalEquipment" position="top" >
    <q-card style="max-width: 1366px;width: 100%;margin-top: 60px;max-height: 80vh;overflow-y: auto;" class="q-card-popik">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Выберите дополнительное оборудование</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>

        <q-item
          v-for="equipment in equipments"
          :key="equipment.id"
          tag="label"
          v-ripple
          :class="{'text-primary bg-grey': equipment.selected}"
        >
          <q-item-section side top>
            <q-checkbox v-model="equipment.selected" @update:model-value="changeCheckEquipment(equipment)" />
          </q-item-section>

          <q-item-section>
            <div class="row items-center no-wrap">
              <q-item-label class="q-pr-md" style="font-weight: 400;">{{ equipment.name }}</q-item-label>
              <q-item-label class="q-ml-auto q-pr-md text-dark" style="font-weight: 500;">
                {{ equipment.price }}руб. <span v-if="equipment.descPrice !== ' '">/</span> {{ equipment.descPrice }}
              </q-item-label>
              <div
                class="row no-wrap items-center"
                v-if="equipment.selected && equipment.quality"
              >
                <q-btn
                  icon="remove"
                  round
                  size="sm"
                  class="text-dark"
                  :disable="equipment.qty === 1"
                  @click="equipment.qty--"
                />
                <q-item-label class="q-ml-sm q-mr-sm text-dark" style="font-weight: 500;">
                  {{ equipment.qty }}
                </q-item-label>
                <q-btn
                  icon="add"
                  round
                  size="sm"
                  class="text-dark"
                  @click="equipment.qty++"
                />
              </div>

            </div>
          </q-item-section>
        </q-item>

      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalAddition" position="top" >
    <q-card style="max-width: 1366px;width: 100%;margin-top: 60px;max-height: 80vh;overflow-y: auto;" class="q-card-popik">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Выберите Добавки</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>

        <q-item
          v-for="addition in additions"
          :key="addition.id"
          tag="label"
          v-ripple
          :class="{'text-primary bg-grey': addition.selected}"
        >
          <q-item-section side top>
            <q-checkbox v-model="addition.selected" @update:model-value="changeCheckAdditions(addition)" />
          </q-item-section>

          <q-item-section>
            <div class="row items-center no-wrap">
              <q-item-label class="q-pr-md" style="font-weight: 400;">{{ addition.name }}</q-item-label>
              <q-item-label class="q-ml-auto q-pr-md text-dark" style="font-weight: 500;">
                {{ addition.price }}руб.
              </q-item-label>
              <div class="row no-wrap items-center">
                <q-btn
                  icon="remove"
                  round
                  size="sm"
                  class="text-dark"
                  :disable="addition.qty === 1"
                  @click="addition.qty--"
                />
                <q-item-label class="q-ml-sm q-mr-sm text-dark" style="font-weight: 500;">
                  {{ addition.qty }}
                </q-item-label>
                <q-btn
                  icon="add"
                  round
                  size="sm"
                  class="text-dark"
                  @click="addition.qty++"
                />
              </div>

            </div>
          </q-item-section>
        </q-item>

      </q-card-section>
    </q-card>
  </q-dialog>

  <q-page>
    <div class="container q-pt-lg">
      <div class="row justify-center q-pt-md">
        <div class="col-12 bg-grey-5 full-height" style="max-width: 1920px;">
          <div class="row full-height">
            <div class="col-12 col-md-4 q-pa-lg flex-column">
              <div class="row">
                <div class="col-12 col-md-5 q-pr-lg col-label">
                  <q-input filled v-model="text" label="Адрес доставки" class="bg-white my-inp" disable />
                  <q-input filled v-model="text" label="Товар" class="bg-white my-inp q-mt-lg" disable />
                  <q-input filled v-model="text" label="Объем" class="bg-white my-inp q-mt-lg" disable />
                  <q-input filled v-model="text" label="Нал/Безнал" class="bg-white my-inp q-mt-lg" disable />
                  <q-input filled v-model="text" label="Доп. оборудование" class="bg-white my-inp q-mt-lg" disable />
                  <q-input filled v-model="text" label="Добавки" class="bg-white my-inp q-mt-lg" disable />
                </div>

                <div class="col-12 col-md-7 col-fields">
                  <div class="row full-width row-map">
                    <q-select
                      filled
                      v-model="formData.address"
                      input-debounce="2"
                      use-input
                      @filter="filterFn"
                      :options="addressesFiltered"
                      option-label="name"
                      option-value="id"
                      class="bg-white my-inp my-select-search full-width"
                      style="min-width: 320px"
                      label="Адрес доставки"
                      ref="addressSelect"
                    >
                      <template v-slot:append>
                        <q-icon name="close" @click.stop.prevent="formData.address = null;getAddresses()" class="cursor-pointer" />
                      </template>
                    </q-select>

                    <img src="/icons/mapa.jpg" alt="" style="height: 48px;width: 48px;" @click="openaMapDialog = true">
                  </div>

                  <q-select
                    filled
                    v-model="formData.product"
                    :options="products"
                    option-label="name"
                    option-value="id"
                    class="bg-white my-inp my-select-search q-mt-lg"
                    @click.stop.prevent="modalProduct = true"
                    label="Товар"
                  >
                    <template v-slot:append>
                      <q-btn round dense flat icon="add" @click.stop.prevent="modalProduct = true" />
                    </template>
                  </q-select>

                  <q-input
                    filled
                    v-model="formData.volume"
                    class="bg-white my-inp q-mt-lg"
                    type="number"
                    label="Объем"
                  >
                    <template v-slot:append>
                      <div class="text-subtitle2 text-dark" style="font-weight: 500;">М<sup>3</sup></div>
                    </template>
                  </q-input>

                  <q-select
                    filled
                    v-model="formData.payment"
                    :options="payments"
                    option-label="name"
                    option-value="id"
                    class="bg-white my-inp my-select-search q-mt-lg"
                    style="min-width: 320px"
                    label="Нал/Безнал"
                  />

                  <q-select
                    filled
                    v-model="selectedEquipmentCount"
                    :options="equipments"
                    option-label="name"
                    class="bg-white my-inp my-inp--noarrow my-select-search q-mt-lg"
                    style="min-width: 320px"
                    @click.stop.prevent="modalAdditionalEquipment = true"
                  >
                    <template v-slot:append>
                      <q-btn round dense flat icon="add" @click.stop.prevent="modalAdditionalEquipment = true" />
                    </template>
                  </q-select>

                  <q-select
                    filled
                    v-model="selectedAddionsCount"
                    :options="additions"
                    option-label="name"
                    class="bg-white my-inp my-inp--noarrow my-select-search q-mt-lg"
                    style="min-width: 320px"
                    @click.stop.prevent="modalAddition = true"
                  >
                    <template v-slot:append>
                      <q-btn round dense flat icon="add" @click.stop.prevent="modalAddition = true" />
                    </template>
                  </q-select>

                </div>
              </div>

              <div class="row q-pt-lg">
                <div class="col-12">
                  <div class="bg-white q-pa-lg sec-table-result">
                    <div class="text-subtitle1 text-bold q-mb-md">Результат</div>
                    <q-markup-table style="box-shadow: none;" class="my-table my-table-result">
                      <tbody>
                        <tr>
                          <td class="text-left" style="font-weight: 600;">Адрес</td>
                          <td class="text-right">{{ formData.address?.name }}</td>
                        </tr>
                        <tr>
                          <td class="text-left" style="font-weight: 600;">оплата</td>
                          <td class="text-right">{{ formData.payment?.name }}</td>
                        </tr>

                        <tr v-if="formData.subcategory?.name">
                          <td class="text-left" style="font-weight: 600;">{{ formData.subcategory?.name }} {{ formData.product?.name }}</td>
                          <td class="text-right">
                            <span v-if="formData?.payment?.id === 'cash'">
                              {{ factoryProduct?.priceNal }} руб./м<sup>3</sup> {{ totalPrice?.productPrice }} руб.
                            <br></span>
                            <span v-if="formData?.payment?.id === 'card'">
                              {{ factoryProduct?.priceBeznal }} руб./м<sup>3</sup> {{ totalPrice?.productPrice }} руб.
                            <br></span>
                          </td>
                        </tr>


                        <tr>
                          <td class="text-left" style="font-weight: 600;">Доставка</td>
                          <td class="text-right">
                            <div style="white-space: wrap;">
                              <span v-if="formData?.address?.pricePerCubic">
                                {{ formData?.address?.pricePerCubic }} руб./м<sup>3</sup> {{ totalPrice?.deliveryPrice }} руб.
                              <br></span>

                              <!-- до 7м3 {{ factoryAddress?.price }} руб.<br>
                              от 7м3 до 16 -->
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td class="text-left" style="font-weight: 600;">Доп оборудование:</td>
                          <td class="text-right">
                            <div
                              v-for="equipment in equipments"
                              :key="equipment.id"
                              class="row q-mb-xs"
                              v-show="equipment.qty"
                            >
                              <span>{{ equipment.name }} * {{ equipment.qty }}</span>
                              <span class="q-ml-auto" style="font-weight: 500;">{{ equipment.price * equipment.qty }} руб.</span>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td class="text-left" style="font-weight: 600;">Добавки:</td>
                          <td class="text-right">
                            <div
                              v-for="addition in additions"
                              :key="addition.id"
                              class="row q-mb-xs"
                              v-show="addition.qty"
                            >
                              <span>{{ addition.name }} * {{ addition.qty }}</span>
                              <span class="q-ml-auto" style="font-weight: 500;">{{ addition.price * addition.qty }} руб.</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </q-markup-table>

                    <div class="text-subtitle1 row">
                      Итого: <div class="text-bold q-ml-xs q-mr-xs">{{ totalPrice?.total }}</div> руб.
                    </div>

                  </div>
                </div>

                <div class="col-12 q-mt-lg">
                  <q-table
                    :rows="rows"
                    :columns="columns"
                    hide-pagination
                    v-model:pagination="pagination"
                    row-key="name"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8 q-pt-lg q-pr-lg q-pb-lg flex flex-column sec-map" :class="{'open-mb': openaMapDialog}">
              <q-btn v-if="openaMapDialog" class="close-btn" @click="openaMapDialog = false">Закрыть</q-btn>
              <MapCoordinate
                :coordinatesList="coordinatesList"
                :highlightedCoordinates="formData.address?.coordinates || ''"
                class="flex-grow-1"
              />
            </div>
          </div>

        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { ref, reactive, onMounted, onBeforeUnmount, watch, computed } from 'vue'
import MapCoordinate from 'src/components/MapCoordinate'
import { addressApi } from 'src/api/address'
import { equipmentApi } from 'src/api/equipment'
import { additionApi } from 'src/api/addition'
import { subcategoriesApi } from 'src/api/subcategory'
import { productApi } from 'src/api/product'
import { factoryApi } from 'src/api/factory'
import { factoryPriceApi } from 'src/api/factoryprice'
import { useQuasar } from 'quasar'

const $q = useQuasar()

const columns = [
  {
    name: '',
    required: true,
    label: 'Аренда Бетононасоса',
    align: 'left',
    field: 'arenda',
    format: val => `${val}`,
    sortable: true
  },
  { name: 'price1', align: 'center', label: 'Цена, руб/смена', field: 'price1', sortable: true },
  { name: 'price2', align: 'center', label: 'Цена за покубовую прокачку', field: 'price2', sortable: true },
]

const rows = [
  {
    arenda: 'Автобетононасос 18-24м',
    price1: 'от 18900',
    price2: '6000 руб. подача + 300 руб./м3',
  },
  {
    arenda: 'Автобетононасос 26-32м',
    price1: 'от 22400',
    price2: '6400 руб. подача + 320 руб./м3',
  },
  {
    arenda: 'Автобетононасос 36м',
    price1: 'от 23800',
    price2: '6800 руб. подача + 340 руб./м3',
  },
  {
    arenda: 'Автобетононасос 42м',
    price1: 'от 25200',
    price2: '7200 руб. подача + 360 руб./м3',
  },
  {
    arenda: 'Автобетононасос 48м',
    price1: 'от 26600',
    price2: '7600 руб. подача + 380 руб./м3',
  },
  {
    arenda: 'Автобетононасос 52м',
    price1: 'от 28000',
    price2: '8000 руб. подача + 400 руб./м3',
  },
]

const pagination = ref({
  rowsPerPage: -1
})

const addressSelect = ref(null)
const text = ref(null)
const addresses = ref([])
const addressesFiltered = ref([])
const subcategories = ref([])
const products = ref([])
const factories = ref([])
const factoryProduct = ref(null)
const openaMapDialog = ref(false)
const modalProduct = ref(false)
const modalAdditionalEquipment = ref(false)
const modalAddition = ref(false)
const formData = reactive({
  address: null,
  product: null,
  volume: null,
  payment: null,
  subcategory: null,
  additionalEquipment: null,
  factory: null,
})
const additionalEquipment = ref()
const equipments = ref([])
const additions = ref([])
const payments = ref([
  {
    id: 'cash',
    name: 'Наличные'
  },
  {
    id: 'card',
    name: 'Безналичные'
  },
])
const coordinatesList = ref([
  { coordinates: '60.198516,30.737323', name: 'Санкт-Петербург' }
])

const volumeDelivery = computed(() => {
  const volume = formData.volume;

  if (volume <= 8) return 8;
  if (volume === 9) return 9;
  if (volume === 10) return 10;
  if (volume === 11) return 11;
  if (volume >= 12 && volume <= 16) return 16;

  return volume;
})

const totalPrice = computed(() => {

  let productPrice = 0;
  if (formData?.payment?.id === 'cash') {
    productPrice = (factoryProduct.value?.priceNal || 0) * (formData?.volume || 0);
  } else if (formData?.payment?.id === 'card') {
    productPrice = (factoryProduct.value?.priceBeznal || 0) * (formData?.volume || 0);
  }

  const deliveryPrice = (formData?.address?.pricePerCubic || 0) * volumeDelivery.value;

  const equipmentPrice = Array.isArray(equipments.value) ? equipments.value.reduce((sum, equipment) => {
    return sum + (equipment.price || 0) * (equipment.qty || 0);
  }, 0) : 0;

  const additionsPrice = Array.isArray(additions.value) ? additions.value.reduce((sum, equipment) => {
    return sum + (equipment.price || 0) * (equipment.qty || 0);
  }, 0) : 0;


  const total = productPrice + deliveryPrice + equipmentPrice + additionsPrice;

  return {
    productPrice: productPrice.toFixed(1),
    deliveryPrice: deliveryPrice.toFixed(1),
    equipmentPrice: equipmentPrice.toFixed(1),
    additionsPrice: additionsPrice.toFixed(1),
    total: total.toFixed(1),
  };
})

const selectedEquipmentCount = computed(() => {
  const selectedEquipments = Array.isArray(equipments.value) ? equipments.value.filter(equipment => equipment.qty > 0) : [];

  return selectedEquipments.length > 0
    ? `Выбрано ${selectedEquipments.length} позиций`
    : 'Выбрано 0 позиций';
})

const selectedAddionsCount = computed(() => {
  const selectedAddions = Array.isArray(additions.value) ? additions.value.filter(addition => addition.qty > 0) : [];

  return selectedAddions.length > 0
    ? `Выбрано ${selectedAddions.length} позиций`
    : 'Выбрано 0 позиций';
})

const filterFn = async (val, update) => {
  if (val === '') {
    update(() => {
      addressesFiltered.value = addresses.value
    })
    return
  }

  update(() => {
    const needle = val.toLowerCase()
    addressesFiltered.value = addresses.value.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
  })
}

const getAddresses = async () => {
  try {
    const params = {
      page: 1,
      perPage: 1000000
    }
    const resp = await addressApi.getAll(params)
    addresses.value = resp.data
    coordinatesList.value = addresses.value

  } catch(e) {}
}
const getEquipments = async () => {
  try {
    const resp = await equipmentApi.getAll()
    equipments.value = resp.map(el => {
      return {
        ...el,
        qty: 0,
        selected: false,
      }
    })
  } catch (err) {
    console.log(err)
  }
}
const getAdditions = async () => {
  try {
    const resp = await additionApi.getAll()
    additions.value = resp.map(el => {
      return {
        ...el,
        qty: 0,
        selected: false,
      }
    })
  } catch (err) {
    console.log(err)
  }
}
const getAllSubcategory = async () => {
  try {
    const resp = await subcategoriesApi.getAll()
    subcategories.value = resp
  } catch (err) {
    console.log(err)
  }
}
const getFactories = async () => {
  try {
    const resp = await factoryApi.getAll()
    factories.value = resp
  } catch (err) {
    console.log(err)
  }
}
const searchProductSubcat = async () => {
  try {
    const params = {
      subcategoryId: formData.subcategory?.id
    }
    const resp = await productApi.getAll(params)
    products.value = resp
  } catch (err) {
    console.log(err)
  }
}
const getPriceProductFactory = async () => {
  try {
    const params = {
      factoryId: formData.address?.factory?.id,
      productId: formData.product?.id,
    }
    const resp = await factoryPriceApi.getPriceProductFactory(params)
    factoryProduct.value = resp
  } catch (err) {
    console.log(err)
  }
}

const changeCheckEquipment = (obj) => {
  if (obj.selected === false) {
    equipments.value.map(el => { if (obj.id === el.id) return el.qty = 0 })
  } else {
    equipments.value.map(el => { if (obj.id === el.id) return el.qty = 1 })
  }
}
const changeCheckAdditions = (obj) => {
  if (obj.selected === false) {
    additions.value.map(el => { if (obj.id === el.id) return el.qty = 0 })
  } else {
    additions.value.map(el => { if (obj.id === el.id) return el.qty = 1 })
  }
}

watch(
  () => [formData.product?.id, formData.address?.factory?.id],
  ([productId, factoryId]) => {
    if (productId && factoryId) {
      getPriceProductFactory()
    }
  }
)

const handleKeyDown = (event) => {
  const inputElement = addressSelect.value.$el.querySelector('input')
  if (event.key === 'Backspace' && document.activeElement === inputElement) {
    formData.address = null;
  }
}

onMounted(() => {
  getAddresses()
  getEquipments()
  getAdditions()
  getFactories()
  getAllSubcategory()

  document.addEventListener('keydown', handleKeyDown)
})

onBeforeUnmount(() => {
  document.removeEventListener('keydown', handleKeyDown)
})
</script>

<style>
.full-height {
  height: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}
</style>
