<template>
  <LoaderDate
    v-show="loading"
  />

  <q-dialog v-model="modal">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменить оборудование</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form
          @submit="update"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="textarea"
            v-model="equipmentUp.name"
            label="Название оборудования"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-input
            filled
            type="number"
            v-model="equipmentUp.price"
            label="Цена"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-input
            filled
            type="text"
            v-model="equipmentUp.descPrice"
            label="Описание"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-select
            filled
            v-model="equipmentUp.quality"
            label="Количественность"
            :options="qualities"
            class="q-ml-md"
            option-label="name"
            option-value="value"
          />

          <div>
            <q-btn label="Сохранить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="modalCreate">
    <q-card style="min-width: 540px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменить оборудование</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-form
          @submit="create"
          class="q-gutter-md my-form"
        >
          <q-input
            filled
            type="textarea"
            v-model="equipment.name"
            label="Название оборудования"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-input
            filled
            type="number"
            v-model="equipment.price"
            label="Цена"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-input
            filled
            type="text"
            v-model="equipment.descPrice"
            label="Описание"
            lazy-rules
            class="q-pb-sm"
            :rules="[
              val => val !== null && val !== '' || 'Поле не должно быть пустым',
            ]"
          />
          <q-select
            filled
            v-model="equipment.quality"
            label="Количественность"
            :options="qualities"
            class="q-ml-md"
            option-label="name"
            option-value="value"
          />

          <div>
            <q-btn label="Добавить" type="submit" color="primary" padding="6px 20px"/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4 q-mr-auto" style="font-weight: 600">Доп. оборудование</div>
      <q-btn label="Добавить оборудование" color="primary" padding="6px 20px" @click="modalCreate = true" />
    </div>

    <q-table
      :rows="rows"
      :columns="columns"
      hide-pagination
      row-key="id"
      v-model:pagination="pagination"
      class="my-table q-mt-xl"
    >
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div class="row" v-if="user?.isRole === 'ADMIN'">
            <q-btn
              color="negative"
              icon="delete"
              class="q-mr-md"
              @click="del(props.row.id)"
            />
            <q-btn
              color="positive"
              icon="edit"
              class="q-mr-md"
              @click="updateEquipment(props.row)"
            />
          </div>
        </q-td>
      </template>
    </q-table>

  </q-page>
</template>

<script setup>
import { ref, reactive, onMounted } from "vue"
import { useQuasar } from 'quasar'
import LoaderDate from 'src/components/LoaderDate.vue'
import { equipmentApi } from 'src/api/equipment'
import { useUserStore } from 'src/store/user'

const userStore = useUserStore()
const user = userStore.user
const $q = useQuasar()

const rows = ref([])
const columns = ref([
  {
    name: "name",
    label: "Название",
    align: "left",
    field: "name",
    sortable: true,
  },
  {
    name: "price",
    label: "Цена",
    align: "left",
    field: "price",
    sortable: true,
  },
  {
    name: "descPrice",
    label: "Описание цены",
    align: "left",
    field: "descPrice",
    sortable: true,
  },
  {
    name: "quality",
    label: "Количественность",
    align: "left",
    field: "quality",
    sortable: true,
    field: row => row.quality === true ? "Да" : "Нет"
  },
  {
    name: "action",
    label: "Действия",
    align: "left",
    field: "action",
    sortable: true,
  },
])
const qualities = ref([
  {
    name: 'Да',
    value: true
  },
  {
    name: 'Нет',
    value: false
  },
])
const loading = ref(false)
const modal = ref(false)
const modalCreate = ref(false)
const equipment = reactive({
  name: null,
  price: null,
  descPrice: null,
  quality: {
    name: 'Нет',
    value: false
  }
})
const equipmentUp = reactive({
  id: null,
  name: null,
  price: null,
  descPrice: null,
  quality: {
    name: 'Нет',
    value: false
  }
})

const getAll = async () => {
  loading.value = true
  try {
    const resp = await equipmentApi.getAll()
    rows.value = resp
  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

const create = async () => {
  try {
    await equipmentApi.create(equipment)
    getAll()
    $q.notify({ color: 'positive', message: 'Оборудование добавлено' })
    Object.assign(equipment, {
      id: null,
      name: null,
      price: null,
      descPrice: null,
      quality: {
        name: 'Нет',
        value: false
      }
    })
    modalCreate.value = false

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const update = async () => {
  try {
    await equipmentApi.update(equipmentUp)
    getAll()
    $q.notify({ color: 'positive', message: 'Оборудование обновлено' })
    modal.value = false

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const del = async (id) => {
  try {
    await equipmentApi.del(id)
    getAll()
    $q.notify({ color: 'positive', message: 'Оборудование удалено' })

  } catch (err) {
    console.log(err)
    $q.notify({ color: 'negative', message: 'Произошла ошибка' })
  }
}

const updateEquipment = async (val) => {
  Object.assign(equipmentUp, val)
  if (equipmentUp.quality === true) {
    equipmentUp.quality = {
      name: 'Да',
      value: true
    }
  } else {
    equipmentUp.quality = {
      name: 'Нет',
      value: false
    }
  }

  modal.value = true
}

const pagination = ref({
  rowsPerPage: -1
})
onMounted(() => {
  getAll()
})

</script>
