<template>
  <q-page class="flex flex-center">
   <h1>Добро пожаловать</h1>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
