<template>
  <DaDataNext
    v-model="query"
    :fromBound="`city`"
    :toBound="`city`"
    placeholder="Введите адрес"
    :token="token"
    @onSelected="modalFalse"
    class="field-data"
  />
</template>

<script>
import { ref, defineComponent, onMounted } from 'vue'
import { DaDataNext } from 'vue-dadata-3'
import "vue-dadata-3/index.css"

import { useQuasar } from 'quasar'

export default defineComponent({
  props: {
    list: Array,
    cityVal: String
  },
  components: {
    DaDataNext
  },
  setup(props, { emit }) {
    const $q = useQuasar()
    const query = ref('')
    const suggestion = ref(undefined)
    const arrActive = ref(false)

    
    
    function modalFalse() {
      emit('modalFalse', query.value)
    }

    onMounted(() => {
      // query.value = props.cityVal

    });

    return {
      modalFalse,
      query,
      arrActive,
      suggestion,
      token: '4e03d732e3760f1aaf0f990ea5f6bedf457ee979',
    }
  },
})
</script>