<template>
  <div style="position: relative;">
    <input
      type="text"
      v-model="searchQuery"
      @input="onSearchInput"
      placeholder="Введите адрес для поиска..."
      class="input-search-address"
      style="width: 100%; padding: 8px; margin-bottom: 8px;"
    />
    <ul v-if="searchResults.length" class="search-results">
      <li
        v-for="result in searchResults"
        :key="result.id"
        @click="selectAddress(result)"
      >
        {{ result.display_name }}
      </li>
    </ul>
    <div id="map" style="width: 100%; height: 100%; min-height: 400px;"></div>
  </div>
</template>

<script setup>
import { ref, watch, defineProps, onMounted } from 'vue'
import L from 'leaflet'
import 'leaflet/dist/leaflet.css'
import axios from 'axios'

// Импортируем изображения иконок
import markerIcon from 'leaflet/dist/images/marker-icon.png'
import markerIcon2x from 'leaflet/dist/images/marker-icon-2x.png'
import markerShadow from 'leaflet/dist/images/marker-shadow.png'

// Ваш API-ключ Яндекс Геокодера
const YANDEX_API_KEY = 'c807dd30-0c5d-41c1-b4b9-4f31efa963bf'

const props = defineProps({
  coordinatesList: {
    type: Array,
    default: () => [
      { coordinates: '60.198516,30.737323', name: 'Санкт-Петербург' },
    ],
  },
  highlightedCoordinates: {
    type: String,
    default: '',
  },
})

const map = ref(null)
const markers = ref([])
const searchMarker = ref(null)  // Маркер для результата поиска
const searchQuery = ref('')
const searchResults = ref([])

// Настраиваем иконки Leaflet
delete L.Icon.Default.prototype._getIconUrl

L.Icon.Default.mergeOptions({
  iconRetinaUrl: markerIcon2x,
  iconUrl: markerIcon,
  shadowUrl: markerShadow,
})

// Иконка для выделенного маркера
const highlightedMarkerIcon = L.icon({
  iconUrl: 'icons/red-ico-map.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowUrl: markerShadow,
  shadowSize: [41, 41],
  shadowAnchor: [12, 41],
})

// Иконка для поискового маркера (зелёная)
const searchMarkerIcon = L.icon({
  iconUrl: 'icons/green-ico-map.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowUrl: markerShadow,
  shadowSize: [41, 41],
  shadowAnchor: [12, 41],
})

const emptyMarkerIcon = L.icon({
  iconUrl: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAwAB/yiSM+EAAAAASUVORK5CYII=',
  iconSize: [0, 0],
  iconAnchor: [0, 0],
  popupAnchor: [0, 0],
})

// Парсинг координат
const parseCoordinates = (coordinates) => {
  if (coordinates && typeof coordinates === 'string' && coordinates.trim().length > 0) {
    const [lat, lng] = coordinates.split(',').map(coord => parseFloat(coord))
    if (!isNaN(lat) && !isNaN(lng)) {
      return [lat, lng]
    }
  }
  return null
}

// Создаем карту при монтировании
onMounted(() => {
  const initialCoords = parseCoordinates(props.coordinatesList[0]?.coordinates)
  if (initialCoords) {
    map.value = L.map('map').setView(initialCoords, 9)

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors',
    }).addTo(map.value)

    addMarkers()
  }
})

const addMarkers = () => {
  markers.value.forEach(marker => {
    map.value.removeLayer(marker)
  })
  markers.value = []

  props.coordinatesList.forEach(point => {
    const coordinates = parseCoordinates(point.coordinates)

    if (coordinates) {
      const isHighlighted = point.coordinates === props.highlightedCoordinates
      const marker = L.marker(coordinates, {
        icon: isHighlighted ? highlightedMarkerIcon : emptyMarkerIcon, // Используем пустую иконку либо L.Icon.Default.prototype
        zIndexOffset: isHighlighted ? 1000 : 0,
      }).addTo(map.value)

      if (point.name) {
        marker.bindPopup(point.name)
      }

      markers.value.push(marker)
    }
  })
}

// Поиск адреса через Яндекс Геокодер
const onSearchInput = async () => {
  if (searchQuery.value.length > 4) { // Уменьшил лимит для более отзывчивого поиска
    try {
      const response = await axios.get('https://geocode-maps.yandex.ru/1.x/', {
        params: {
          apikey: YANDEX_API_KEY,
          format: 'json',
          geocode: searchQuery.value,
          kind: 'house', // Можно настроить вид объектов, например, 'house'
          results: 5,
        },
      })

      // Обработка ответа Яндекс Геокодера
      const geoObjects = response.data.response?.GeoObjectCollection?.featureMember || []

      // Преобразуем данные в формат, похожий на Nominatim
      searchResults.value = geoObjects.map((item, index) => {
        const geoObject = item.GeoObject
        const name = geoObject.name
        const description = geoObject.description || ''
        const fullName = geoObject.description
          ? `${name}, ${description}`
          : name

        const pos = geoObject.Point.pos.split(' ')
        const lon = parseFloat(pos[0])
        const lat = parseFloat(pos[1])

        return {
          id: `${index}-${geoObject.Point.pos}`,
          display_name: fullName,
          lat: lat,
          lon: lon,
        }
      })
    } catch (error) {
      console.error('Ошибка при поиске адреса через Яндекс Геокодер:', error)
    }
  } else {
    searchResults.value = []
  }
}

// Выбор адреса из списка и добавление поискового маркера
const selectAddress = (address) => {
  const lat = parseFloat(address.lat)
  const lon = parseFloat(address.lon)

  if (!isNaN(lat) && !isNaN(lon)) {
    const coordinates = [lat, lon]

    // Удаляем старый поисковый маркер, если он существует
    if (searchMarker.value) {
      map.value.removeLayer(searchMarker.value)
    }

    // Создаем новый поисковый маркер с зелёной иконкой
    searchMarker.value = L.marker(coordinates, { icon: searchMarkerIcon }).addTo(map.value)
    searchMarker.value.bindPopup(address.display_name).openPopup()

    // Очистка поиска и перемещение карты к выбранному маркеру
    searchResults.value = []
    searchQuery.value = ''
    map.value.setView(coordinates, 14) // Увеличил масштаб для лучшего просмотра
  }
}

// Обновляем маркеры при изменении coordinatesList или highlightedCoordinates
watch(
  () => props.highlightedCoordinates,
  () => {
    addMarkers()
  }
)
</script>

<style>
#map {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  background: white;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: calc(100% - 16px); /* Учитываем padding инпута */
  z-index: 1000; /* Чтобы список был поверх карты */
}

.search-results li {
  padding: 8px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

/* Импортируем стили Leaflet */
@import 'leaflet/dist/leaflet.css';
</style>
