<template>

  <q-select
    filled
    v-model="localAddress"
    use-input
    input-debounce="0"
    label="Выбирите пункт разгрузки"
    :options="options2"
    @filter="filterFn"
    @update:modelValue="update"
    behavior="menu"
    class="q-mb-lg"
    :option-label="option => option.address"
  >
    <template v-slot:append>
      <q-icon name="close" @click.stop="update(localAddress = '')" class="cursor-pointer" />
    </template>
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          Нет результатов
        </q-item-section>
      </q-item>
    </template>
  </q-select>

</template>

<script setup>
import { ref } from "vue"
// import { deliveryApi } from 'src/api/delivery'

const props = defineProps({
  data: String,
})

const emit = defineEmits(['update'])

const localAddress = ref(props.data)
const options2 = ref([])
const options = ref([])

async function filterFn(val, update) {
  if (val === "") {
    update(() => {
      options2.value = options.value
    })
    return
  }

  try {
    // let resp = await deliveryApi.searchByName(val)

    update(() => {
      options2.value = resp.filter((v) =>
        v.address.toLowerCase().includes(val.toLowerCase())
      )
    })
  } catch (error) {
    console.error(error)
  }
}

function update(newValue) {
  emit("update", newValue)
}
</script>
