<template>

  <q-select
    filled
    v-model="localDriver"
    use-input
    input-debounce="0"
    label="Выберите водителя"
    :options="options2"
    @filter="filterFn"
    @update:modelValue="update"
    behavior="menu"
    class="q-mb-lg"
    :option-label="option => option.name"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          Нет результатов
        </q-item-section>
      </q-item>
    </template>
  </q-select>

</template>

<script setup>
import { ref } from "vue"
import { driversApi } from 'src/api/drivers'

const props = defineProps({
  data: Object,
})

const emit = defineEmits(['update'])

const localDriver = ref(props.data)
const options2 = ref([])
const Options = ref([])

async function filterFn(val, update) {
  if (val === "") {
    update(() => {
      options2.value = Options.value
    })
    return
  }

  try {
    let resp = await driversApi.searchByName(val)

    update(() => {
      options2.value = resp.filter((v) =>
        v.name.toLowerCase().includes(val.toLowerCase())
      )
    })
  } catch (err) {
    throw err
  }
}

function update(newValue) {
  emit("update", newValue)
}
</script>
  