<template>
  <LoaderDate
    v-show="loading"
  />
  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Создание ТТН</div>
      <q-btn
        color="primary"
        label="Вернуться назад"
        class="text-semibold q-ml-auto"
        to="/ttn"
      />
    </div>
    <div class="content q-pt-xl">
      <q-form class="q-gutter-md my-form">
        <div class="row">
          <div class="col-12 col-lg-4 q-pr-xl">
          </div>

          <div class="col-12 col-lg-8">
            <div class="doc-img">
              <div class="inputs" style="width: 1039px;">
                <div class="clear-head" v-if="formData.shipper && formData.shipper === optionSend[1]"></div>

                <div class="doc-id">{{ documentId }}</div>

                <input type="text" disabled v-model="formData.shipper" class="grusootpravitel" style="opacity: 1 !important;">
                <input type="text" v-model="formData.payer" class="platelshik">
                <input type="text" v-model="formData.send_address" class="grusopolychatel">
                <input type="text" disabled class="nomer" v-model="documentId" style="opacity: 1 !important;">
                <input type="text" disabled class="nomer nomer-2" v-model="formData.date_delivery" style="opacity: 1 !important;">

                <div class="text mark-sec" v-if="formData?.product?.name">
                  {{ `${formData?.subcategory?.name} ${formData?.product?.name}` }}
                </div>

                <input type="text" class="value" v-model="formData.value">
                <input type="text" disabled class="unit" v-model="formData.unit" style="opacity: 1 !important;">
                <input type="text" class="package-type" disabled v-model="formData.package_type" style="opacity: 1 !important;">
                <input type="text" class="weight" v-model="formData.weight">
                <input type="text" class="price" v-model="formData.price">
                <!-- <input type="text"  class="data"> -->
                <!-- <input type="text" disabled class="data-send-address" v-model="formData.factory.name" style="opacity: 1 !important;"> -->
                <div class="text data-send-address">{{ formData.factory?.name }}</div>
                <div class="text data-recv-address">{{ formData.address }}</div>

                <div class="text data-delivery">{{ formData.date_delivery }}</div>
                <!-- <div class="text comment">{{ formData.driver_comment }}</div> -->

                <div class="text voditel">{{ formData.driver?.name }}</div>

                <div class="text voditel2">{{ formData.driver?.carName }}</div>
                <div class="text voditel3">{{ formData.driver?.carNumber }}</div>
                <div class="text tel">{{ formData.phone }}</div>

                <input type="text" disabled class="text nach" value="Смирнов А.В." style="opacity: 1 !important;">
                <input type="text" disabled class="text dispetcher" value="Иванов В.В." style="opacity: 1 !important;">

              </div>
              <img src="/ttn.jpg" alt="" style="max-width: 100%;">
            </div>
          </div>

        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useQuasar } from "quasar";
import { ttnApi } from "src/api/ttn";
import LoaderDate from 'src/components/LoaderDate.vue';

const $q = useQuasar()
const loading = ref(false)

const props = defineProps({
  projectId: String
})

const emit = defineEmits(['printOff'])

const formData = ref({
  address: '',
  driver: null,
  payer: '',
  product: null,
  factory: null,
  value: '',
  shipper: '',
  price: '',
  phone: '',
  date_delivery: '',
  unit: 'М3',
  package_type: 'Навал',
  weight: '2350кг',
  driver_comment: '',
  send_address: '',
  recv_address: '',
});

const documentId = ref(null)
const print = ref(false)

const optionSend = ref([
  'Мегалит Бетон',
  'БСУ 1',
  'ПО "Горизонт"'
])

// функция распечатки
function printPage() {
  window.print()
}

function formatDateToDDMMYYYY(dateString) {
  const date = new Date(dateString);

  const day = String(date.getDate()).padStart(2, '0');
  const month = String(date.getMonth() + 1).padStart(2, '0'); // Месяцы начинаются с 0, поэтому добавляем 1
  const year = date.getFullYear();

  return `${day}.${month}.${year}`;
}

// получение бетона
async function getTtn() {
  loading.value = true
  try {
    const resp = await ttnApi.getById(props.projectId)
    formData.value = resp
    formData.value.unit = 'М3'
    formData.value.package_type = 'Навал'
    formData.value.weight = '2350кг'
    formData.value.date_delivery = formatDateToDDMMYYYY(resp.dateDelivery)
    formData.value.driver_comment = resp.driverComment
    formData.value.send_address = resp.sendAddress
    formData.value.recv_address = resp.recvAddress

  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

function onPrintOff() {
  emit('printOff')
}

onMounted(async () => {
  await getTtn()
  printPage()
  setTimeout(()=> {
    onPrintOff()
  }, 1000)
})
</script>
