// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;800;900&display=swap');
body {
  font-family: 'Montserrat', sans-serif !important;
}
@import 'quasar.variables';
@import 'layout';
@import 'page';
@import 'loader';

.my-table {
  .q-table {
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background: $grey;
          }
        }
      }
    }
  }
}
