.drawer-links {
  .q-tabs__content {
    flex-direction: column;
    .q-tab {
      text-align: left;
      justify-content: flex-start;
      .q-tab__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .q-tab__label {
          font-weight: 600;
          font-size: 16px;
        }
      }
      .q-tab__indicator {
        display: none;
      }
      &--active {
        background: rgba(0,0,0,0.1);
      }
      &+.tab-border {
        border-bottom: 1px solid $primary;
      }
    }
  }
}

.q-header {
  z-index: 100;
}

.doc-sec {
  position: relative;
  .document {
    width: 100%;
    // border: 1px solid black;
    // padding: 20px;
    // padding-bottom: 300px;
    position: relative;
    & > * {
      position: absolute;
    }
    .logo {
      max-width: 150px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .tel {
      top: 20px;
      right: 20px;
      font-size: 18px;
      span {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .title {
      text-transform: uppercase;
      font-weight: 500;
      top: 110px;
      left: 210px;
      right: 0;
      margin: auto;
      font-size: 13px;
    }
    .general-fields {
      width: 61%;
      top: 160px;
      left: 20px;
      .field {
        padding-top: 5px;
        label {
          flex: 0 0 132px;
        }
        input {
          flex: 1 1 100%;
        }
      }
    }
    .field {
      display: flex;
      align-items: flex-end;
      width: 100%;
      label {
        font-weight: 500;
      }
      input {
        border: none;
        border-bottom: 1px solid black;
        position: relative;
        bottom: 1px;
        outline: none;
        max-width: 100%;
        margin-left: 15px;
      }
    }
    .code-form {
      top: 50px;
      right: 20px;
      .sec {
        text-align: right;
        .title {
          display: inline-block;
          text-align: right;
          margin-right: 10px;
          text-transform: none;
        }
        .inp {
          display: inline-block;
          border: 1px solid black;
          border-top: none;
          input {
            border: none;
            outline: none;
            text-align: center;
            &[disabled] {
              opacity: 1 !important;
              color: black !important;
            }
          }
          &-big {
            padding: 5px 0;
          }
        }
        &:first-child {
          .inp {
            border: none;
          }
        }
        &:nth-child(2) {
          .inp {
            border-top: 1px solid black;
          }
        }
      }
    }

    .bottom-sec {
      top: 250px;
      left: 0;
      position: relative;
    }
    table {
      width: 100%;
      border: 1px solid black;
      border-collapse:collapse;
      thead,
      tbody {
        tr {
          th, td {
            border-right: 1px solid black;
          }
        }
      }
      thead {
        tr {
          th {
            font-weight: 400;
            line-height: 1.1;
            padding: 10px;
            position: relative;
            span {
              position: relative;
              left: -2px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            border-top: 1px solid black;
            position: relative;
            padding: 5px 10px;
          }
        }
      }
    }


    .row-sec {
      display: flex;
      align-items: flex-start;
    }
    .info {
      margin-top: 60px;
      flex: 0 0 max-content;
      .row-field {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .signature {
          margin-left: 50px;
          .text {
            text-align: center;
            min-height: 21px;
          }
          hr {
            width: 130px;
            margin: auto;
            border: none;
            border-top: 1px solid black;
          }
        }
      }
      .field-delivery {
        margin: 30px 0;
        margin-top: 40px;
      }

      .field-group {
        display: flex;
        padding-top: 30px;
        .field {
          max-width: max-content;
          margin-left: 20px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .field-group-loading {
        .field {
          input {
            width: 274.5px;
          }
        }
      }
      .text-description {
        max-width: 850px;
        margin-top: 60px;
      }
    }

    .info-2 {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      padding-top: 45px;
      .field-time {
        justify-content: flex-end;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        label {
          font-weight: 500;
        }
        .colmn {
          position: relative;
          top: 14px;
          margin-left: 17px;
          hr {
            width: 170px;
            margin-bottom: 0;
            border: none;
            border-top: 1px solid black;
          }
          .text {
            text-align: center;
          }
        }
      }

      .field-get {
        margin-top: 60px;
        .colmn {
          hr {
            width: 274px;
          }
        }
      }

      .contact-phone {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        margin-top: 60px;
        .subphone {
          font-size: 18px;
          line-height: 22px;
          font-weight: 600;
        }
        input {
          margin-left: 15px;
          border: 2px solid black;
          font-size: 18px;
          font-weight: bold;
          text-align: center;

        }
      }


    }

  }
  .disabled, [disabled] {
    opacity: 1 !important;
    color: black;
  }
}

.field-date {
  .q-btn {
    width: 100%;
    .block {
      font-size: 18px;
    }
  }
}

.doc-img {
  position: relative;
  font-family: serif;
  img {
    min-width: 1048px;
    height: 700px;
  }
  .inputs {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;

    .clear-head {
      position: absolute;
      top: 0;
      width: 101%;
      height: 40px;
      left: 0;
      background: white;
      z-index: 5;
    }

    .text {
      line-height: 14px;
      font-size: 14px;
      font-weight: 500;
      // border: 1px solid black;
      position: absolute;
    }
    input {
      position: absolute;
      height: 15px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      border: none;
      &.grusootpravitel {
        top: 148px;
        left: 160px;
        width: 50%;
      }
      &.platelshik {
        top: 170px;
        left: 160px;
        width: 50%;
      }
      &.grusopolychatel {
        top: 191px;
        left: 160px;
        width: 50%;
      }
      &.nomer {
        right: 0px;
        top: 100px;
        width: 120px;
        text-align: center;
      }
      &.nomer-2 {
        top: 128px;
      }

      &.value {
        top: 288px;
        right: 132px;
        width: 60px;
        z-index: 100;
        text-align: center;
      }

      &.unit {
        top: 288px;
        right: 310px;
        width: 80px;
        text-align: center;
      }
      &.package-type {
        top: 288px;
        right: 200px;
        width: 100px;
        text-align: center;
      }
      &.weight {
        top: 288px;
        right: 68px;
        width: 58px;
        text-align: center;
      }

      &.price {
        right: 0px;
        top: 288px;
        width: 60px;
        text-align: center;
      }
      &.data {
        left: 161px;
        top: 470px;
        width: 85px;
        text-align: center;
      }

      // нач диспетчер
      &.nach {
        left: 480px;
        top: 343px;
        width: 85px;
        text-align: center;
      }
      &.dispetcher {
        left: 480px;
        top: 416.5px;
        width: 85px;
        text-align: center;
      }
    }
    .mark-sec {
      left: 15px;
      top: 289px;
      text-align: center;
      width: 626px;
    }
    .voditel {
      top: 509px;
      left: 88px;
      width: 143px;
    }
    .voditel2 {
      top: 509px;
      left: 340px;
      width: 110px;
    }
    .voditel3 {
      top: 509px;
      left: 524px;
      width: 95px;
    }
    .tel {
      width: 196px;
      text-align: center;
      top: 581px;
      right: 4px;
      font-size: 23px;
      font-weight: 600;
      line-height: 24px;
    }
    .data-delivery {
      top: 470px;
      left: 166px;
    }
    .data-recv {
      top: 346px;
      right: -7.5px;
      text-align: center;
      width: 200px;
    }
    .data-send {
      top: 385px;
      right: -7.5px;
      text-align: center;
      width: 200px;
    }
    .comment {
      top: 417px;
      right: -7.5px;
      text-align: center;
      width: 200px;
    }

    .data-send-address {
      top: 549px;
      left: 110px;
      width: 100px;
      text-align: center;
    }
    .data-recv-address {
      top: 550px;
      left: 434px;
      text-align: center;
    }

    .doc-id {
      position: absolute;
      top: 44px;
      left: 551px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

@page {
  padding-right: 5px;
}
@media print {
  * {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    page-break-inside: avoid !important;
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    // display: none !important;
    position: fixed;
    left: 0;
    top: 0;
  }

  .inputs {
    .clear-head,
    .text,
    input {
      position: absolute;
    }
  }

  .doc-img .inputs .tel {
    left: 845px;
  }
  .doc-img .inputs input.nomer {
    left: 87.5%;
  }

  .doc-img .inputs input.unit {
    left: calc(91.5% - 310px);
  }

  .doc-img .inputs input.package-type {
    left: calc(89% - 200px);
  }
  .doc-img .inputs input.value {
    left: calc(93% - 125px);
  }
  .doc-img .inputs input.weight {
    left: calc(93.5% - 64px);
  }
  .doc-img .inputs input.price {
    left: 94%;
  }


  .doc-img {
    display: block !important;
  }

  .q-page {
    padding: 0;
    .head {
      display: none !important;
    }
    .content {
      .filters,
      .q-table__container,
      .q-pagination {
        display: none !important;
      }
      .q-form {
        & > .row > div:first-child {
          display: none !important;
        }
        & > .row {
          margin: 0;
        }
        & > .row > .col-12 {
          &:first-child {
            display: none !important;
          }
        }
      }
      .section-btns {
        display: none !important;
      }
    }
  }
  #q-notify {
    display: none !important;
  }
  .doc-img {
    width: 100%;
    padding-right: 5px;
    img {
      width: 10%;
      max-width: 10%;
    }
  }

  .q-header,
  .q-drawer-container {
    display: none !important;
  }
  .q-page-container {
    padding-left: 0 !important;
  }


  .doc-sec .document {
    border: 0;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000000;
    top: 0;
    left: 0;
    .bottom-sec {
      top: 280px;
    }
    .logo,
    .general-fields {
      left: 00px;
    }
    .code-form,
    .tel {
      right: 0px;
    }
    & > .title {
      font-size: 18px;
      left: 300px;
      top: 76px;
    }
    .info-2 {
      position: absolute;
      top: 70px;
      right: 0px;
    }
  }

  .doc-img .inputs input.value {
    right: 148px;
  }
  .doc-img .inputs .tel {
    right: 7px;
  }
  .doc-img .inputs input.price {
    right: 10px;
  }
  .doc-img .inputs input.nomer {
    right: 15px;
  }

  .doc-img .unit {
    right: 328px !important;
    top: 287px !important;
  }
  .doc-img .package-type {
    top: 287px !important;
    right: 217px !important;
  }
  .doc-img .weight {
    top: 287px !important;
    right: 80px !important;
  }
  .doc-img .inputs .voditel2 {
    left: 340px;
  }
  .doc-img .inputs .data-recv-address {
    left: 434px !important;
  }
  .doc-img .inputs input.unit {
    right: 330px !important;
    width: 80px;
  }
  .doc-img .inputs .comment {
    right: 10px;
  }
  .doc-img .inputs .data-delivery {
    left: 170px;
  }
  .doc-img .inputs .doc-id {
    left: 562px;
    width: 150px;
  }
}

.disabled, [disabled] {
  opacity: 1 !important;
  color: black;
  background: rgba(0,0,0,0);
}

.field-data {
  width: 100%;
  max-width: 100% !important;
  input {
    width: 100%;
    padding: 0 12px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0 0;
    border: none;
    height: 56px;
  }
}

.my-inp {

  &--noarrow {
    padding-left: 16px;
    padding-right: 16px;
    .q-field__append {
      .q-select__dropdown-icon {
        display: none;
      }
    }
  }
  .q-field__marginal {
    height: 48px;
  }
  .q-field__control {
    // padding: 0;
    height: 48px;
    min-height: 48px;
    border-radius: 0;
    .q-field__label {
      left: 0;
      top: 14px;
      font-weight: 500;
    }
    input {
      font-weight: 500;

    }
  }
  &.q-field--disabled .q-field__control > div {
    opacity: 1 !important;
  }
}

.my-table {
  tbody {
    tr {
      td {
        border: none;
        white-space: wrap;
      }
    }
  }
}

.sec-map {
  min-height: calc(100vh - 120px);
  position: relative;
  transition: all 0.3s;
  div {
    z-index: 1;
  }
  .input-coordinates {
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 2;
    outline: none;
  }
  .leaflet-control-attribution {
    display: none;
  }
  @media (max-width: 772px) {
    min-height: 0 !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    #map {
      height: 100vh !important;
      width: 100vw !important;
    }

    &.open-mb {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw !important;
      height: 100vh !important;
      min-height: 100vh !important;
      overflow: visible;
      padding: 0;
      z-index: 1000;
      input {
        // max-width: 280px;
        .search-results {
          max-width: 280px;
        }
      }
    }
  }
}

.my-select-search {
  .q-field__control {
    overflow: hidden;
  }
  .q-field__marginal {
    height: 48px;
  }
  .q-field__native {
    min-height: 48px;
    padding-top: 0 !important;
    & > span {
      height: 48px;
      line-height: 48px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
    }
  }

  &.q-field--focused {
    .q-field__control-container {
      padding-top: 0;
    }
    .q-field__label {
      display: none;
    }
  }
  &.q-field--float {
    .q-field__control-container {
      padding-top: 0;
    }
    .q-field__label {
      display: none;
    }
  }

}

.col-label {
  @media (max-width: 772px) {
    display: none !important;
  }
}

.col-fields {
  @media (min-width: 772px) {
    .q-field {
      .q-field__label {
        display: none !important;
      }
    }
  }
  @media (max-width: 772px) {
    .q-field {
      min-width: max-content !important;
    }
  }
}
.q-card-popik {
  @media (max-width: 772px) {
    .q-btn--dense {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .q-card__section {
      &:nth-child(2) {
        padding-left: 0;
        padding-right: 0;

        .q-item {
          padding-left: 0;
          padding-right: 0;

          &:nth-child(2n) {
            background: rgba(0,0,0,0.1);
          }

          .q-item__section {
            padding-right: 0;
            padding-top: 4px;
            padding-bottom: 4px;

            &:nth-child(3) {
              & > .row {
                flex-wrap: wrap;
                .q-item__label {
                  &:nth-child(2) {
                    flex: 0 0 100%;
                    width: 100%;
                    padding-top: 6px;
                    font-weight: 600 !important;
                  }
                }
                .row {
                  max-width: 31px;
                  margin-top: 8px;
                  .q-btn__content {
                    margin-top: 0;
                  }
                  .q-item__label {
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

.row-map {
  @media (min-width: 772px) {
    & > img {
      display: none;
    }
  }
  @media (max-width: 772px) {
    & > img {
      margin-left: auto;
    }
    .q-field {
      max-width: calc(100% - 56px);
      min-width: auto !important;
    }
  }
}

.input-search-address {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 480px !important;
  z-index: 10;
}
.search-results {
  position: absolute;
  top: 52px;
  right: 10px;
  width: 480px !important;
  z-index: 10;
  min-height: 400px;
}

@media (max-width: 772px) {
  .sec-table-result {
    padding-left: 0;
    padding-right: 0;
    & > .text-subtitle1 {
      margin-left: 15px;
    }
  }
  .my-table-result {
    .q-table {
      tbody {
        tr {
          display: flex;
          flex-direction: column;
          margin: 4px 0;
          td {
            text-align: left;
            min-height: max-content;
            height: max-content;
          }
        }
      }
    }
  }
  .input-search-address {
    top: 50px;
    width: 280px !important;
  }
  .search-results {
    width: 280px !important;
    min-height: 320px;
    top: 92px;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    z-index: 101;
  }
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 8px;
}
