@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.head {

}

.my-table {
  .q-table {
    thead {
      tr {
        th {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 15px;
        }
      }
    }
  }
}

.page-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   .q-form {
    min-width: 400px;
   }
}

.my-form {

}
.my-input-36 {
  height: 36px;
  .q-field__control {
    height: 36px;
  }
}

.quality-document {
  font-family: "Tinos", serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1,
  h2,
  p {
    margin-bottom: 15px;
    line-height: 1.6;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
  }

  .bold {
    font-weight: bold;
  }

  .right-align {
    text-align: right;
  }

  .header-info {
    text-align: right;
    margin-bottom: 20px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .signature {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer-notes {
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.4;
    color: #555;
  }

  .warning-list {
    margin-left: 25px;
  }

  .warning-list li {
    margin-bottom: 0;
  }

  .signature-line {
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid #000;
  }
}


