<template>
  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Создание Водителя</div>
      <q-btn
        color="primary"
        label="Вернуться назад"
        class="text-semibold q-ml-auto"
        to="/drivers"
      />
    </div>
    <div class="content q-pt-xl">
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md my-form"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <q-input
              filled
              v-model="formData.name"
              label="Ввведите ФИО"
              lazy-rules
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />
            <q-input
              filled
              v-model="formData.car_name"
              label="Марка автомоиля"
              lazy-rules
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />
            <div class="row">
              <q-input
                filled
                v-model="formData.car_number1"
                label="номер автомобиля формат - А999АА"
                hint="Только русские, заглавные буквы и цифры"
                lazy-rules
                class="q-mb-lg"
                style="min-width: 375px;"
                :rules="[
                  val => /^[А-ЯЁё]{1}\d{3}[А-ЯЁё]{2}$/.test(val) || 'Неправильный формат номера автомобиля'
                ]"
              />
              <q-input
                filled
                v-model="formData.car_number2"
                label="Регион автомобиля формат - 99 или 999"
                hint="Только 2 или 3 цифры"
                lazy-rules
                class="q-mb-lg q-ml-lg"
                style="min-width: 375px;"
                :rules="[
                  val => /^\d{2,3}$/.test(val) || 'Введено должно быть только две или три цифры'
                ]"
              />
            </div>

            <q-input
              filled
              v-model="formData.car_capacity"
              label="Вместимость авто (м3)"
              lazy-rules
              type="number"
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />
            <q-input
              filled
              v-model="formData.phone"
              label="Ввведите телефон"
              lazy-rules
              type="number"
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />

            <div>
              <q-btn label="Создать водителя" type="submit" color="primary" padding="6px 20px"/>
              <q-btn label="Очистить" type="reset" color="primary" flat class="q-ml-sm" padding="6px 20px" />
            </div>
          </div>
        </div>
      </q-form>

    </div>
  </q-page>
</template>

<script setup>
import { useQuasar } from 'quasar'
import { ref } from 'vue'
import { driversApi } from 'src/api/drivers';

const $q = useQuasar()

const formData = ref({
  name: '',
  car_name: '',
  car_number1: '',
  car_number2: '',
  car_capacity: '',
  phone: '',
})

async function onSubmit() {
  if (formData.value.address !== '') {
    try {
      await driversApi.create(formData.value)
      $q.notify({
        color: 'positive',
        message: 'Водитель успешно добавлен'
      })
      setTimeout(() => {
        window.location.href = '/drivers'
      }, 1500)
    } catch (err) {
      console.log(err)
    }
  } else {
    $q.notify({
      color: 'negative',
      message: 'Адрес заполнен неправильно'
    })
  }
}

function onReset() {
  formData.value.name = null
  formData.value.car_name = null
  formData.value.car_capacity = null
  formData.value.phone = null
}

</script>
