<template>
  <LoaderDate
    v-show="loading"
  />
  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Водители</div>
      <q-btn
        color="primary"
        label="Добавить водителя"
        class="text-semibold q-ml-auto"
        to="/drivers/create"
      />
    </div>
    <div class="content q-pt-xl">
      <q-table
        :rows="rows"
        :columns="columns"
        hide-pagination
        row-key="id"
        :selected-rows-label="getSelectedString"
        v-model:pagination="pagination"
        v-model:selected="selected"
        class="my-table"
      >
        <template v-slot:body-cell-custom="props">
          <q-td :props="props">
            <div class="row">
              <q-btn
                color="positive"
                icon="edit"
                class="q-mr-md"
                :to="`/drivers/${props.row.id}`"
              />
              <q-btn
                color="negative"
                icon="delete"
                @click="del(props.row.id)"
              />
            </div>
          </q-td>
        </template>
      </q-table>

    </div>
  </q-page>
</template>

<script setup>
import { ref, onMounted } from "vue"
import { useQuasar } from 'quasar'
import { driversApi } from 'src/api/drivers'
import LoaderDate from 'src/components/LoaderDate.vue'

const $q = useQuasar()
const loading = ref(false)

const columns = ref([
  { name: "id", field: "id", format: (val) => `${val}`, sortable: true, label: "#", align: "left", },
  { name: "name", label: "ФИО", align: "left", field: "name", sortable: true, },
  { name: "carName", label: "Модель авто", align: "left", field: "carName", sortable: true, },
  { name: "carNumber", label: "Номер авто", align: "left", field: "carNumber", sortable: true, },
  { name: "phone", label: "Телефон", align: "left", field: "phone", sortable: true, },
  { name: "carCapacity", label: "Вместимость авто (м3)", align: "left", field: "carCapacity", sortable: true, },
  { name: "custom", label: "Управление", align: "left", field: "custom", sortable: true, },
]);
const rows = ref([])

const selected = ref([]);
const pagination = ref({
  rowsPerPage: -1
})

async function getAll() {
  loading.value = true
  try {
    const resp = await driversApi.getAll()
    rows.value = resp
  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

async function del(id) {
  try {
    await driversApi.del(id)
    getAll()
    $q.notify({
      color: 'positive',
      message: 'Водитель удален'
    })
  } catch (err) {
    console.log(err)
    $q.notify({
      color: 'negative',
      message: 'Произошла ошибка'
    })
  }
}

function getSelectedString() {
  return selected.value.length === 0
    ? ""
    : `${selected.value.length} выделено${
        selected.value.length > 1 ? "s" : ""
      } из ${rows.value.length}`;
}

onMounted(() => {
  getAll()
})

</script>
