<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="bg-grey text-white" height-hint="98">
      <q-toolbar>
        <!-- <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" /> -->
        <q-avatar style="width: max-content;border-radius: 0;">
          <img src="https://gorizontbeton.ru/wp-content/themes/gorizont-beton/images/logo.png.webp" />
        </q-avatar>
        <q-icon
          color="black"
          class="q-ml-md lg-visible"
          size="16px"
          name="svguse:icons/all-icons.svg#logout"
          style="cursor: pointer;margin-left: auto;"
          @click="logout"
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { onMounted, ref } from "vue"

function logout() {
  localStorage.clear()
  window.location.href = '/login'
}

</script>
