<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="bg-grey text-white" height-hint="98">
      <q-toolbar>
        <!-- <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" /> -->

        <q-avatar style="width: max-content;border-radius: 0;">
          <img src="https://gorizontbeton.ru/wp-content/themes/gorizont-beton/images/logo.png.webp" />
        </q-avatar>
        <q-icon
          color="black"
          class="q-ml-md lg-visible"
          size="16px"
          name="svguse:icons/all-icons.svg#logout"
          style="cursor: pointer;margin-left: auto;"
          @click="logout"
        />
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <q-tabs align="left" class="drawer-links" no-caps>
        <q-route-tab
          v-for="link in links"
          :key="link"
          v-show="hasRole(link.role)"
          :to="link.href"
          :label="link.label"
          :class="link.class"
        >
          <q-btn icon="add" padding="4px 4px" :to="link.hrefCreate" v-if="link.hrefCreate !== ''" />
        </q-route-tab>
      </q-tabs>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
  import { onMounted, ref } from "vue"

  const leftDrawerOpen = ref(false)

  function logout() {
    localStorage.clear()
    window.location.href = '/login'
  }

  const user = ref(JSON.parse(localStorage.getItem('user')))

  const links = ref([
    {
      href: '/addresses',
      hrefCreate: '',
      class: '',
      label: 'Адреса',
      role: ['ADMIN'],
    },
    {
      href: '/drivers',
      hrefCreate: '/drivers/create',
      class: '',
      label: 'Водители',
      role: ['ADMIN'],
    },
    {
      href: '/stamps',
      hrefCreate: '',
      class: '',
      label: 'Типы продукции',
      role: ['ADMIN'],
    },
    {
      href: '/equipment',
      hrefCreate: '',
      class: '',
      label: 'Доп. оборудование',
      role: ['ADMIN'],
    },
    {
      href: '/addiotion',
      hrefCreate: '',
      class: '',
      label: 'Добавки',
      role: ['ADMIN'],
    },
    {
      href: '/users',
      hrefCreate: '/users/create',
      class: 'tab-border',
      label: 'Пользователи',
      role: ['ADMIN'],
    },
    {
      href: '/delivery',
      hrefCreate: '',
      class: 'tab-border',
      label: 'Доставка',
      role: ['ADMIN'],
    },
    {
      href: '/ttn',
      hrefCreate: '/ttn/create',
      class: '',
      label: 'ТТН',
      role: ['ADMIN'],
    },
    {
      href: '/quality',
      hrefCreate: '',
      class: '',
      label: 'Паспорта',
      role: ['ADMIN'],
    },
  ])

  const hasRole = (linkRoles) => {
    return linkRoles.includes(user.value.isRole);
  }

  onMounted(() => {

  })

  // toggleLeftDrawer() {
  //   leftDrawerOpen.value = !leftDrawerOpen.value;
  // },

</script>
