<template>
  <LoaderDate
    v-show="loading"
  />

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Обновления данных пользователя</div>
      <q-btn
        color="primary"
        label="Вернуться назад"
        class="text-semibold q-ml-auto"
        to="/users"
      />
    </div>
    <div class="content q-pt-xl">
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md my-form"
      >
        <div class="row">
          <div class="col-12 col-md-6">

            <q-input
              filled
              v-model="formData.name"
              label="Ввведите логин"
              type="text"
              lazy-rules
              class="q-mb-lg"
            />

            <q-input
              filled
              v-model="formData.email"
              label="Ввведите email"
              type="text"
              lazy-rules
              class="q-mb-lg"
            />

            <q-select
              filled
              v-model="formData.isRole"
              :options="options"
              label="Роль пользователя"
              class="q-mb-lg"
              option-value="value"
              option-label="label"
              emit-value
              map-options
            />

            <q-input
              filled
              v-model="formData.password"
              label="Ввведите новый пароль"
              type="password"
              lazy-rules
              class="q-mb-lg"
            />

            <div>
              <q-btn label="обновить пользователя" type="submit" color="primary" padding="6px 20px"/>
              <q-btn label="Очистить" type="reset" color="primary" flat class="q-ml-sm" padding="6px 20px" />
            </div>
          </div>
        </div>
      </q-form>

    </div>
  </q-page>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { useQuasar } from 'quasar'
import { userApi } from "src/api/user"
import { useRoute } from 'vue-router'
import LoaderDate from 'src/components/LoaderDate.vue'

const $q = useQuasar()
const loading = ref(true)

const route = useRoute()
const projectId = ref(route.params.id)

const formData = ref({
  password: null,
})

const options = ref([
  {
    value: 'ADMIN',
    label: 'Админ'
  },
  {
    value: 'MODERATOR',
    label: 'Менеджер'
  },
  {
    value: 'DISPATCHER',
    label: 'Диспетчер'
  },
  {
    value: 'USER',
    label: 'Пользователь'
  },
])

async function onSubmit() {
  if (formData.role !== null && formData.role !== '') {
    const data = {}
    Object.assign(data, formData.value)
    data.role = formData.value.isRole

    try {
      await userApi.update(projectId.value, data)
      $q.notify({
        color: 'positive',
        icon: 'check',
        message: 'Пользователь обновлен'
      })
      setTimeout(() => {
        window.location.href = '/users'
      }, 1000)

    } catch(err) {
      console.log(err)
      $q.notify({
        color: 'negative',
        message: 'Произошла ошибка'
      })
    }
  } else {
    $q.notify({
      color: 'negative',
      message: 'Не все данные заполнены'
    })
  }
}

async function getById() {
  try {
    formData.value = await userApi.getBtId(projectId.value)
  } catch(err) {
    console.log(err)
    $q.notify({
      color: 'negative',
      message: 'Произошла ошибка'
    })
  }
}

function onReset() {
  formData.value.name = null
}

onMounted(async () => {
  loading.value = true
  getById()
  loading.value = false
})

</script>
