<template>
  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Создание пользователя</div>
      <q-btn
        color="primary"
        label="Вернуться назад"
        class="text-semibold q-ml-auto"
        to="/users"
      />
    </div>
    <div class="content q-pt-xl">
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md my-form"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <q-input
              filled
              v-model="formData.name"
              label="Ввведите ФИО"
              lazy-rules
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />

            <q-select
              filled
              v-model="formData.role"
              :options="options"
              label="Роль пользователя"
              class="q-mb-lg"
            />

            <q-input
              filled
              v-model="formData.email"
              label="Ввведите email"
              type="text"
              lazy-rules
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />
            <q-input
              filled
              v-model="formData.phone"
              label="Ввведите номер телефона"
              type="number"
              lazy-rules
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />
            <q-input
              filled
              v-model="formData.password"
              label="Ввведите пароль"
              type="password"
              lazy-rules
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Поле не должно быть пустым']"
            />

            <div>
              <q-btn label="Создать пользователя" type="submit" color="primary" padding="6px 20px"/>
              <q-btn label="Очистить" type="reset" color="primary" flat class="q-ml-sm" padding="6px 20px" />
            </div>
          </div>
        </div>
      </q-form>

    </div>
  </q-page>
</template>

<script setup>
import { ref } from 'vue'
import { useQuasar } from 'quasar'
import { userApi } from "src/api/user"

const $q = useQuasar()

const formData = ref({
  name: null,
  role: null,
  email: null,
  phone: null,
  password: null
})

const options = ref([
  {
    value: 'ADMIN',
    label: 'Админ'
  },
  {
    value: 'MODERATOR',
    label: 'Менеджер'
  },
  {
    value: 'DISPATCHER',
    label: 'Диспетчер'
  },
  {
    value: 'USER',
    label: 'Пользователь'
  },
])

async function onSubmit() {
  if (formData.role !== null && formData.role !== '') {
    const data = {}
    Object.assign(data, formData.value)
    data.role = data.role.value
    try {
      await userApi.create(data)
      $q.notify({
        color: 'positive',
        icon: 'check',
        message: 'Пользователь успешно создан'
      })
      setTimeout(() => {
        window.location.href = '/users'
      }, 1000)

    } catch(err) {
      console.log(err)
      $q.notify({
        color: 'negative',
        message: 'Произошла ошибка'
      })
    }
  } else {
    $q.notify({
      color: 'negative',
      message: 'Не все данные заполнены'
    })
  }
}

const onReset = () => {
  formData.value = {
    name: null,
    role: null,
    email: null,
    phone: null,
    password: null
  }
}

</script>
