<template>
  <LoaderDate
    v-show="loading"
  />

  <q-page class="q-pa-lg">
    <div class="head row">
      <div class="text-h4" style="font-weight: 600">Пользователи</div>
      <q-btn
        color="primary"
        label="Создать пользователя"
        class="text-semibold q-ml-auto"
        to="/users/create"
      />
    </div>
    <div class="content q-pt-xl">
      <q-table
        :rows="rows"
        :columns="columns"
        hide-pagination
        row-key="id"
        v-model:pagination="pagination"
        class="my-table"
      >
        <template v-slot:body-cell-custom="props">
          <q-td :props="props" v-if="user?.isRole === 'ADMIN'">
            <div class="row">
              <q-btn color="positive" icon="edit" class="q-mr-md" :to="`/users/${props.row.id}`" />
              <q-btn color="negative" icon="delete" @click="del(props.row.id)" v-if="props.row.role !== 'blocked'" />
            </div>
          </q-td>
        </template>
      </q-table>
    </div>

  </q-page>
</template>

<script setup>
import { ref, onMounted } from "vue"
import { userApi } from "src/api/user"
import LoaderDate from 'src/components/LoaderDate.vue'
import { useUserStore } from 'src/store/user'
import { useQuasar } from 'quasar'

const $q = useQuasar()
const userStore = useUserStore()
const user = userStore.user
const loading = ref(true)

const columns = ref([
  { name: "id", field: "id", format: (val) => `${val}`, sortable: false, label: "#", align: "left", },
  { name: "name", label: "ФИО", align: "left", field: "name", sortable: false, },
  { name: "phone", label: "Номер телефона", align: "left", field: "phone", sortable: false, },
  { name: "email", label: "Email", align: "left", field: "email", sortable: false, },
  { name: "isRole", label: "Роль пользователя", align: "left", field: "isRole", sortable: false, },
  { name: "custom", label: "Управление", align: "left", field: "custom", sortable: false, },
])
const rows = ref([])
const pagination = ref({
  rowsPerPage: -1
})

async function getAll() {
  try {
    rows.value = await userApi.getAll()
  } catch (err) {
    console.log(err)
  }
  loading.value = false
}

async function del(id) {
  try {
    await userApi.del(id)
    getAll()
    $q.notify({
      color: 'positive',
      icon: 'check',
      message: 'Пользователь удален'
    })
  } catch (err) {
    console.log(err)
  }
}

onMounted(() => {
  getAll()
})

</script>
